<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand yesT"> YES TELANGANA </a>
    </div>
    <ul class="nav navbar-nav pull-right fff">
          <li class="lsc" (click)="viewProfile()"><a  class=""> 
                  <img src="{{swimmingDetailsClients.images2}}" class="img-circle"  style="width:100%">  </a></li>


          
        </ul>
     <!-- <ul class="nav navbar-nav pull-right fff">
          <li class="lsc" (click)="viewnoti()"><a  class=""> 
                  <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
</ul> -->
       
<div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
   <div class="col-sm-12">

          <img src="{{swimmingDetailsClients.images2}}" class="img-circle"  style="width:45%">
   </div>
   <div class="col-sm-12">
          <div class="col-sm-12">
                  <h5 class="fnamess">    {{swimmingDetailsClients.name}}</h5>
           </div>
         
           <div class="col-sm-12">
                  <p>   {{swimmingDetailsClients.emailId}}</p>
           </div>
          
   </div>
   <div class="col-sm-12">
           <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
   </div>
  
</div>


<div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
  <div class="col-sm-12">

         <img src="{{swimmingDetailsClients.images2}}" class="img-circle"  style="width:45%">


  </div> 
 
 
</div>  

  </div>
</nav>




<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 activities">
          <h3 class="acName"> <b> Activities </b></h3>
          <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                <h4> view   profile </h4>
            </div>
        
          <div class="col-sm-12 sidenavact" (click)="viewupdatesShow()">
                <h4> create / view Services </h4>
            </div>
            <div class="col-sm-12 sidenavact" (click)="ProductsShow()">
                <h4> Post   Accessories </h4>
            </div> 
            <div class="col-sm-12 sidenavact" (click)="ProductsViewShow()">
                <h4> Post / View Fecilities </h4>
            </div> 

            <div class="col-sm-12 sidenavact" (click)="updatesShow()">
                <h4> Post   Updates</h4>
            </div>
            <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                    <h4> Recieve Comments ({{onlyCommC}}) </h4>
                </div>

                <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                        <h4> Galleries </h4>
                        
                    </div>
                    
                       
                           
    
      </div>
    
    
   
    


    <div class="col-sm-8 c">
       <div class="col-sm-12" *ngIf="showmains">
          <div class="catog">
              <div class="bgshostel">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-sm-12 bghostels">
                  
                            
                              <h2 class="cnames"> {{swimmingDetailsClients.swimmingName}} </h2>    
                              <div class="col-sm-12 bgimg">
                                  <img src="{{swimmingDetailsClients.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                              
                              </div>
                      <hr/>
                     
                      </div>
                      </div>
                      </div>
                      </div>
            
                      <!-- *********************about us*********************** -->
               <div class="bgimgses">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 mains">
            
                        
            <div class="col-md-12">
            <img src="{{swimmingDetailsClients.images2}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
              
            <hr/>
            </div>
            </div>
            <div class="col-sm-6 mains">
            
                
            <div class="col-md-12">
                <p class="aboutus"> About Us  </p>
                <p class="aboutuso">  {{swimmingDetailsClients.aboutUseDes1}}</p>
                <p class="aboutust"> {{swimmingDetailsClients.aboutUseDes2}} </p>
            <hr/>
            <h3 class="aboutusts"> <b> {{swimmingDetailsClients.name}} </b></h3>
            <hr/>
            </div>
            </div>
                </div>
              </div>
            </div>
                      <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                              <div class="col-sm-12 timings">
                                  <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
              <ul>
                <li class="nones"> {{swimmingDetailsClients.day1}} </li>
                <li class="nones"> {{swimmingDetailsClients.day2}} </li>
                <li class="nones"> {{swimmingDetailsClients.day3}} </li>
                <li class="nones"> {{swimmingDetailsClients.day4}} </li>
                <li class="nones"> {{swimmingDetailsClients.day5}} </li>
                <li class="nones"> {{swimmingDetailsClients.day6}} </li>
                <li class="nones"> {{swimmingDetailsClients.day7}} </li>
                <li class="nones"> Hours of Operations : <span class="timing"> {{swimmingDetailsClients.allTimes}} </span> </li>
              </ul>
              <hr/>
                              </div>
                            
                                <hr/>
                                <div class="col-sm-12 e addes">
            
                                    <h4 class="ads"> Address </h4> 
                                    <hr/>
                                    <div class="col-sm-12 cons addresscap">
                                       H No:{{swimmingDetailsClients.houseNo}} , {{swimmingDetailsClients.subArea}},{{swimmingDetailsClients.landmark}},{{swimmingDetailsClients.city}}
                                       {{swimmingDetailsClients.distict}},
                                        {{swimmingDetailsClients.state}},
                                        {{swimmingDetailsClients.pincode}}
                                  </div>
                    
                                </div>
                             
                                <div class="col-sm-12 e addes">
                                    <h4 class="ads"> Contact informations </h4> 
                                    <hr/>
                                    <div class="col-sm-12 cons">
              <p>  
                  <span class="glyphicon glyphicon-phone-alt"> office no: {{swimmingDetailsClients.officeNo}} 
                  
              </span>
               </p>
                                          <br>
                <p> 
                     <span class="glyphicon glyphicon-earphone">
                           Mobile No: {{swimmingDetailsClients.mobileNo}} 
                    </span></p>
                                            <br>
                        <p> <i class="fa fa-whatsapp" aria-hidden="true">
                             whatsapp No: {{swimmingDetailsClients.whatsupno}} </i></p>
                                                                      <br>
                                       <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{swimmingDetailsClients.emailId}} </i>
                                         
                                        </p> 
                                          <br>
                                      </div>
                                  </div>
                              </div>
              <div class="col-sm-9 divb">
                 <div class="col-sm-12">
                   <h2> Our Team Members </h2>
                   <img src="{{swimmingDetailsClients.images3}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
            
                      </div>
                      <h4><b> Our Team Works : </b><span class="teams"> {{swimmingDetailsClients.ourTeam}} </span></h4>
                      <h4><b> Team Members Names : </b> <span class="teams">    {{swimmingDetailsClients.teamMembersNames}} </span></h4>
                      <h4><b> Team Descriptions : </b> <span class="teams">  {{swimmingDetailsClients.teamDescriptions}} </span></h4>
                 </div>
               </div>
            </div>
            </div>
            
       </div>

       <div class="col-sm-12" *ngIf="updatesShows">
          <div class="col-sm-12">
                     
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="please enter your title" [(ngModel)]="ups.title" name="title">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="please enter your descriptions" [(ngModel)]="ups.description" name="descriptions">
                  </mat-form-field>
                 

<p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesImages($event,'images1')" placeholder="please enter images1" class="updated" name="images1" >
<p> Viedoes</p>  <input type="file" #Image accept="viedo/*"  (change)="handleFileInputUpdatessViedoes($event,'viedoes')" placeholder="please enter images1" class="updated" name="viedoes" >

<button class="btn-primary upbuttons" (click)="updatesPostData()"> submit </button>
    
</div>
 <!-- ******************* UPDATES PRESENT ********************************* -->
  
 <div class="col-sm-12">
    <div class="col-sm-12"><h3> Our Updates ({{clientUpdatesCount}}) </h3></div>
      <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
        <div class="col-sm-12">
            <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
              <a> 
                  <img src="{{up.images}}" alt="about us" style="width:100%"></a>
        </div>
  
  
        <div class="col-sm-12 viedoes">
            <video width="100%" height="400px" controls>
                <source src="{{up.viedoes}}" type="video/mp4">
               </video>
          </div>
      
          <div class="col-sm-12">
              <h3> {{up.title}} </h3>
              <h6> {{up.description}} </h6>
           </div>
  
           <!-- <div class="col-sm-3" (click)="shareClick(up)">
                  <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                    share </p>
               </div> -->
              <div class="col-sm-3" (click)="commentsClick(up)">
                  <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                    <span class=""> comments </span> 
                 </p>
          </div>
          <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
              <div class="col-sm-1">
                  <a href="https://www.facebook.com/" target="_blank">
              <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
              </a>
          </div>
              
                <div class="col-sm-1">
                        <a href="https://www.whatsapp.com/" target="_blank">
                    <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                        </a>
              </div>
                 <div class="col-sm-1">
                   <a href="https://plus.google.com/discover" target="_blank">
                   <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                 </div>
     <div class="col-sm-1"> 
         <a href="https://twitter.com/login" target="_blank">
           <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
     </div>
   <div class="col-sm-1"> 
      <a href="https://www.instagram.com/accounts/login/" target="_blank">
        <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
     </div>
          </div>
      
        <div class="col-sm-12">
            <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
                <div class="col-sm-12">
                <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
            </div>
          </div>
   
    <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
  <div class="col-sm-12" *ngFor="let comms of getUsersComments">
    <div class="col-sm-12 userscomm">
    <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                     <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                      <h6>  {{comms.descriptions}} </h6> 
   </div>                  
                  <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                          <a class="replyses">
                              <b class="replies lsc"> reply   </b></a>
                      </div> 
                   
  
  
      <div  class="u" *ngIf="replyfrom && replyid == comms._id">
          <mat-form-field class="example-full-width">
              <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
            </mat-form-field>
            <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
       
        <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
            <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
       <img src="{{swimmingDetailsClients.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
          {{swimmingDetailsClients.name}}:</span>
         <h6> {{rep.descriptions}} </h6> 
         </div> 
         </div> 
  
        </div>
      </div>
  </div>
        </div>
      </div>
           
 
         </div>

         <div class="col-sm-12" *ngIf="viewupdatesShows">
          <h3> Create / View Services </h3>

          <div class="col-sm-12">
            <h3> Create   Services </h3>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your genders" [(ngModel)]="cgs.genders" name="genders">
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter coach Name" [(ngModel)]="cgs.coachName" name="coachName">
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter coach Years Of Exp" [(ngModel)]="cgs.coachYearsOfExp" name="coachYearsOfExp">
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter No Of coach" [(ngModel)]="cgs.coachNo" name="coachNo">
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter descriptions" [(ngModel)]="cgs.descriptions" name="descriptions">
                          </mat-form-field>
    
<p> genders Image</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'gendersimages')" [(ngModel)]="cgs.gendersimages" class="updated" name="images1" >
<p> coach Image </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'coachImg')" [(ngModel)]="cgs.coachImg" class="updated" name="images1" >
<p> pools Images 1</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'poolsImg1')" [(ngModel)]="cgs.poolsImg1" class="updated" name="images1" >
<p> pools Images 2</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'poolsImg2')" [(ngModel)]="cgs.poolsImg2" class="updated" name="images1" >
<p> pools Images 3</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'poolsImg3')" [(ngModel)]="cgs.poolsImg3" class="updated" name="images1" >
<p> pools Images 4</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'poolsImg4')" [(ngModel)]="cgs.poolsImg4" class="updated" name="images1" >
<p> pools Images 5</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'poolsImg5')" [(ngModel)]="cgs.poolsImg5" class="updated" name="images1" >

          <button class="btn-primary upbuttons" (click)="createServicesPosts()"> submit </button>
              
          </div>
          <div class="col-sm-12">
            <h3> View Services </h3>
<div class="col-sm-12" *ngFor="let g of gendersCat">
    <h4 class="servicesNames"> {{g.genders}}</h4>
  <div class="col-sm-3">
      
      <img src="{{g.gendersimages}}" class="img-circle"  style="width:100%">
     
  </div>
  <div class="col-sm-7">
      <img src="{{g.coachImg}}" class="img-thumbnail"  style="width:100%">
      <h4><b>Coach Name:</b> {{g.coachName}}</h4>
      <h4> <b> Coach Experences:</b> {{g.coachYearsOfExp}}</h4>
      <h4><b> No Of Coaches : </b> {{g.coachNo}}</h4>
  </div>
  <div class="col-sm-12">
      <img src="{{g.poolsImg1}}" class="img-thumbnail"  style="width:100%">
      <img src="{{g.poolsImg2}}" class="img-thumbnail"  style="width:100%">
      <img src="{{g.poolsImg3}}" class="img-thumbnail"  style="width:100%">
      <img src="{{g.poolsImg4}}" class="img-thumbnail"  style="width:100%">
      <img src="{{g.poolsImg5}}" class="img-thumbnail"  style="width:100%">

  </div>
</div>
          </div>
           </div>

            <div class="col-sm-12" *ngIf="onlyCommentsShows">
                <h1> Recieve Comments ({{onlyCommC}}) </h1>
                
                <table class="table">
                        <thead>
                          <tr>
                                <th>S no</th>
                            <th>Date & Time</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact No</th>
                            <th>Leave Comments </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let com of onlyComm; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{com.createdAt | date: 'dd/MM/yyyy'}} {{com.createdAt | date: "shortTime"}}</td>
                            <td> {{com.name}}  </td>
                            <td>{{com.email}}</td>
                            <td>{{com.contactNo}}</td>
                            <td>{{com.leaveComment}}</td>
                          </tr>
                           
                        </tbody>
                      </table>
       </div>

       <div class="col-sm-12" *ngIf="ImagesShows">
          <div class="col-sm-12">
              <h3 class="gimages"> General Images </h3>
             
<div class="col-sm-4 mars">
  <a href="{{swimmingDetailsClients.images1}}" target="_blank"> 
      <img src="{{swimmingDetailsClients.images1}}" alt="about us" style="width:100%;height:250px"> 
   </a>
</div>
<div class="col-sm-4 mars">
      <a href="{{swimmingDetailsClients.images2}}" target="_blank"> 
          <img src="{{swimmingDetailsClients.images2}}" alt="about us" style="width:100%;height:250px"> 
       </a>
   </div>
  <div class="col-sm-4 mars">
          <a href="{{swimmingDetailsClients.images3}}" target="_blank"> 
              <img src="{{swimmingDetailsClients.images3}}" alt="about us" style="width:100%;height:250px"> 
           </a>
       </div>
      <div class="col-sm-4 mars">
              <a href="{{swimmingDetailsClients.images4}}" target="_blank"> 
                  <img src="{{swimmingDetailsClients.images4}}" alt="about us" style="width:100%;height:250px"> 
               </a>
           </div>

          <div class="col-sm-4 mars">
                  <a href="{{swimmingDetailsClients.images5}}" target="_blank"> 
                      <img src="{{swimmingDetailsClients.images5}}" alt="about us" style="width:100%;height:250px"> 
                   </a>
               </div>

              <div class="col-sm-12">
                      <h1 class="gimages"> Update Images </h1>
                      <div class="col-sm-4 mars" *ngFor="let item of clientUpdates">
                              <a href="{{item.images}}" target="_blank"> 
                                  <img src="{{item.images}}" style="width:100%;height:250px"> 
                               </a>
                           </div>
      
              </div>
              
               <div class="col-sm-12">
                      <h1 class="gimages"> Update Video  </h1>
                      <div class="col-sm-6 mars" *ngFor="let pro of clientUpdates">
                              <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                              <a href="{{pro.viedoes}}" target="_blank"> 
                                      <video width="100%" controls>
                                              <source src="{{pro.viedoes}}" type="video/mp4">
                                              
                                             </video> 
                                                
                               </a>
                          </div>
               </div>
      </div>         </div>

         <div class="col-sm-12" *ngIf="ProductsShows">
                <div class="col-sm-12">
                    <h3> Create   Accessories </h3>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{gendersName}} <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                              <li class="locationsdrops" *ngFor="let get of gendersCatacc" (click)="gendersClick(get)">{{get.genders}}</li>
                              </ul> 
                    </div>
                   

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter Accessaories Name" [(ngModel)]="acc.acceriesName" name="genders">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter Accessaories Use" [(ngModel)]="acc.acceriesUse" name="coachName">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="please enter Accessaories Descriptions" [(ngModel)]="acc.acceriesDescriptions" name="coachYearsOfExp">
                      </mat-form-field>
                      

<p> Accessories  Image</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesacc($event,'acceriesImg')" [(ngModel)]="acc.acceriesImg" class="updated" name="images1" >
 
      <button class="btn-primary upbuttons" (click)="createAccessaoriesPosts()"> submit </button>
          
                </div>
                <div class="col-sm-12 maindivforacc" *ngFor="let g of acceriesGet">
                  <div class="col-sm-5">
                      <img src="{{g.acceriesImg}}" class="img-thumbnail"  style="width:100%">

                  </div>
                  <div class="col-sm-7">
 <h3> <b>Accessaories Name : </b> {{g.acceriesName}}</h3>
 <h3> <b>Accessaories Use : </b> {{g.acceriesUse}}</h3>
 <h3> <b>Accessaories Descriptions : </b> {{g.acceriesDescriptions}}</h3>

                  </div>
                </div>
               </div>
          <div class="col-sm-12" *ngIf="ProductsViewShows">
         <div class="col-sm-12">

            <mat-form-field class="example-full-width">
                <input matInput placeholder="please enter Fecilities Name" [(ngModel)]="fec.fecilitiesName" name="genders">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="please enter Fecilities Descriptions" [(ngModel)]="fec.fecilitiesDescriptions" name="coachName">
              </mat-form-field>
              
              

<p> Fecilities  Image</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFec($event,'fecilitiesImg')" [(ngModel)]="fec.fecilitiesImg" class="updated" name="images1" >

<button class="btn-primary upbuttons" (click)="postFecilities()"> submit </button>
  
         </div>
         <div class="col-sm-12">
           <h3> View Fecilities ({{fecilitiesGetsc}}) </h3>
           <div class="col-sm-4" *ngFor="let g of fecilitiesGets">
              <img src="{{g.fecilitiesImg}}" class="img-thumbnail"  style="width:100%;height:200px">
              <h4> <b> {{g.fecilitiesName}} </b> </h4>
              <h4> <b> {{g.fecilitiesDescriptions}} </b> </h4>

           </div>
           
         </div>
           </div>
      </div>  
    </div>
  </div>