 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
          </div>
          
             
      <div class="col-sm-3 profilesv">
         
        
         <div class="col-sm-12">
                 <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
         </div>
        
      </div>
      
        
        </div>
      </nav>

<div class="catog">
<div class="bgshostel">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 bghostels">
    
    <h2 class="cnames"> {{datas.centername}} </h2>
    <div class="col-sm-12 bgimg">
        <img src="{{datas.images1}}" alt="about us" style="width:100%;height:500px"> 
    
    </div>
    <h4> over all view </h4>
    <ul class="overllview">
       
        <li class="fontsize"> <a href="#aboutus" data-toggle="tab">
            <span class="glyphicon glyphicon-hand-right"> about us</span> 
             
            </a> 
        </li>
        <li class="fontsize"> <a href="#iamges" data-toggle="tab">
            <span class="glyphicon glyphicon-hand-right"> images </span> 
                 
               </a> 
           </li>
           <li class="fontsize"> <a href="#payments" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> timings </span> 
                 
               </a> 
           </li>
           <li class="fontsize"> <a href="#payments" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> program information</span> 
                 
               </a> 
           </li>
           <li class="fontsize"> <a href="#payments" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> parent information</span> 
                 
               </a> 
           </li>
           <li class="fontsize"> <a href="#facilities" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> fecilities </span>
                
               </a> 
           </li>
           <li class="fontsize"> <a href="#address" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> Address</span> 
               
               </a> 
           </li>
           <li class="fontsize"> <a href="#cont " data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> contact informations</span> 
                
               </a> 
           </li>
           <li class="fontsize"> <a href="#cont " data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> events</span> 
                
               </a> 
           </li>
           <li class="fontsize"> <a href="#com" data-toggle="tab">
              <span class="glyphicon glyphicon-hand-right"> leave comments</span> 
               
               </a> 
           </li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        <hr/>


        <div class="container-fluid">
          <div class="row">
              <div class="col-sm-3">
                <div class="col-sm-12 timings">
                    <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
<ul>
  <li class="nones"> {{datas.day1}} </li>
  <li class="nones"> {{datas.day2}} </li>
  <li class="nones"> {{datas.day3}} </li>
  <li class="nones"> {{datas.day4}} </li>
  <li class="nones"> {{datas.day5}} </li>
  <li class="nones"> {{datas.day6}}</li>
  <li class="nones"> {{datas.day7}} </li>
  <p class="noness"> {{datas.overalltimes}} </p>

</ul>
<hr/>
                </div>
                <hr>
                <div class="col-sm-12 images">
                <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-picture"></span> Images </p>
                <hr/>       
               
                
                <ul>
                  
            <li class="nones col-sm-12 addimgs"> <a href="{{datas.images1}}" target="_blank"><img src="{{datas.images1}}" alt="about us" style="width:100%">  </a></li>
            <li class="nones col-sm-12 addimgs"> <a href="{{datas.images2}}" target="_blank">  <img src="{{datas.images2}}" alt="about us" style="width:100%"> </a> </li>
            <li class="nones col-sm-12 addimgs">    <a href="{{datas.images3}}" target="_blank"><img src="{{datas.images3}}" alt="about us" style="width:100%"> </a> </li>
            <li class="nones col-sm-12 addimgs"><a href="{{datas.images4}}" target="_blank"><img src="{{datas.images4}}" alt="about us" style="width:100%"> </a> </li>
            <li class="nones col-sm-12 addimgs"> <a href="{{datas.images5}}" target="_blank"> <img src="{{datas.images5}}" alt="about us" style="width:100%"> </a> </li>
            <li class="nones col-sm-12 addimgs"> <a href="{{datas.images6}}" target="_blank"> <img src="{{datas.images6}}" alt="about us" style="width:100%"> </a> </li>
  
 
                  </ul>
                  </div>
                  <hr/>
                  <div class="col-sm-12 e addes">

                      <h4 class="ads"> Address </h4> 
                      <hr/>
                      <div class="col-sm-12 cons addsss">
                             {{datas.area}} {{datas.area}}
                             <br/>
                            
                             {{datas.landmark}}
                             
                             {{datas.place}}
                             
                            {{datas.city}}
                            
                            {{datas.distict}}
                           
                             {{datas.state}}
                             <br/>
                            
                            {{datas.pincode}}

                    </div>
      
                  </div>
               
                  <div class="col-sm-12 e addes">
                      <h4 class="ads"> Contact informations </h4> 
                      <hr/>
                      <div class="col-sm-12 cons">
                          <span class="glyphicon glyphicon-phone-alt whatys"> {{datas.officeno}} </span>

                            <br>
                            <span class="glyphicon glyphicon-earphone whatys">  {{datas.mobileno}}  </span>
                              <br>
                              <i class="fa fa-whatsapp whatys" aria-hidden="true"> 
                                 <span class="whas"> {{datas.whatsupno}} </span>  </i>
  
                            <br>

                            <i class="fa fa-envelope whatys" aria-hidden="true"> </i>
                            <span class="whas"> {{datas.emailid}}  </span>
                            <br>
                            <!-- <i class="fa fa-globe" aria-hidden="true"></i>
                            <li><a> {{datas.refone}} </a></li>
                            <li><a> {{datas.reftwo}} </a></li>
                            <li><a> {{datas.refthree}} </a></li> -->


                             

                      </div>

                    </div>
                </div>

                <div class="col-sm-9  mains">
                    <p class="maintag"> About Us </p>
<div class="col-md-12">
    <img src="{{datas.images2}}" style="width:20%;height:180px" class="pull-left img-thumbnail img-rounded profilepic img-responsive">
    <p> <b> name: </b> <span class="names">{{datas.name}}</span> </p>
    <h6>  <b>  my profile : </b></h6>
<p class="mainprog"> {{datas.description}}
     <br>
   <span class="profpag"> {{datas.description}} </span>
    </p>
    <hr/>
</div>
<div class="col-sm-12 dd" *ngFor="let ser of babyCareServicesOne" (click)="babyCareSercesCatageriesAll(ser)">
    <h2> <b> Program informations : </b> <span class="names"> {{ser.programInformation}} </span> </h2>

    
</div>
<div class="col-sm-12">
    <div class="col-sm-12" *ngFor="let ser of servicesTwos">
        <h2 class="maintag">  <b>  {{ser.information}} : </b></h2>
        <img src="{{ser.images}}" style="width:100%;height:500px" class="pull-right img-thumbnail profilepic img-responsive">
        <p class="mainprog"> 
            {{ser.descriptions}}
        </p>
    </div>
</div>
<div class="col-md-12 mainss">
        <h6 class="maintag"> <b> parents informations : </b></h6>
        <p class="mainprog"> {{datas.descriptionone}}
     <br>
     {{datas.descriptiontwo}}
     <br>
     {{datas.descriptionthree}}
    </p>
        <hr/>
    </div>
   
    <div class="col-sm-12">
            <h2>   View Fecilities ({{fecilitiesGetsc}})</h2>
            <div class="col-sm-4" *ngFor="let tot of fecilitiesGets">
                <img src="{{tot.fecilitiesImg}}" class="img-thumbnail" alt="about us" style="width:100%;height:200px"> 
        
                <h4> <b> Name : </b> {{tot.fecilitiesName}} </h4>
               <h4> <b> Descriptions : </b> {{tot.fecilitiesDescriptions}} </h4>
            </div>
        </div>
           
    </div>
</div>
</div>
    
<!-- ********************************************** updates ******************************************** -->
<div class="col-sm-8  col-sm-offset-3">
        <div class="col-sm-12">
          <h5> <b>Our Updates({{adminsupdateCommentsCountsall}})</b>
             
          </h5>
           
              <div class="col-sm-12 dfs" *ngFor="let item of adminupdates">
                 <div class="col-sm-12">
                     <p> {{item.createdAt}} </p>
                      <a href="{{item.images}}" target="_blank">  <img src="{{item.images}}" alt="about us" style="width:100%; height:600px"></a>
                    <div class="col-sm-12 viedoes">

                    <video width="100%" height="400px" controls>
                            <source src="{{item.viedoes}}" type="video/mp4">
                            
                           </video>
                          </div>
                     <h6> {{item.description}} </h6>
                    <p> <span class="times">   time:11:00 am </span>  </p>  
  
                 </div>
  
        <div class="col-sm-12" >         
      <hr/>
      <!-- <div class="col-sm-2 lsc">
          <p> 12 <i class="fa fa-thumbs-o-up lsd" aria-hidden="true"></i>
            like </p>
      </div> -->
       
       
      <!-- <div class="col-sm-3 lsc" (click)="showicons()">
          <div class="col-sm-12">
              <p> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                share </p>
                      
          </div> -->
          </div>
          <div class="col-sm-4 comentshow"  (click)="showcomments(item)">
              <p class="lsc"> {{adminsupdateCommentsCounts}} <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
               <span class=""> comments </span> 
            </p>
          </div>  
          <div class="col-sm-12 consts">
          <div class="col-sm-12 comentssuboit" *ngIf="shows">
        
              <mat-form-field class="example-full-width">
                  <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="adminupdategeneral.descriptions" name="descriptions" ></textarea>
                </mat-form-field>
                <button class="btn-primary" (click)="updatestoadmincomments()"> submit </button>


                <div class="col-sm-12">
 
                        <a  class="replyses" (click)="getupdatecomment(item._id)"><b> view comments({{adminsupdateCommentsCounts}}) </b></a> 
                    </div>

                    <div class="col-sm-12" *ngIf="showes && selectedblogId == item._id">

                            <ul>
                                <li *ngFor="let items of  updatescommentsget" class="kkk">
                                        <h6> 
                                                    
                                               <p class="ptags"> <b> {{items.createdAt | date: 'dd/MM/yyyy'}} {{items.createdAt  | date: "shortTime"}} </b> 
                                               </p>
                                                <br/> 
                                          <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                                               {{items.descriptions}}  </h6>
                                              
                                             <br/>
                            
                           <div class="col-sm-12">
 
                                <a class="replyses" (click)="getupdatecommentreply(items._id)"><b> reply from <span class="replys"> {{datas.centername}}:</span> </b></a> 
                            </div>    
                          <div *ngIf="showess && selectedblogIds == items._id" class="u">
        <ul *ngFor="let replys of  updatescommentsgets">  <h4>   
            <img src="{{datas.images2}}" class="img-circle"  style="width:4%">
        {{replys.descriptions}} </h4> </ul>   
                            </div>    
                          
                                   </li>
                                </ul>
                                    </div>
          </div>
          <div class="col-sm-12 proc" *ngIf="show">
                <div class="col-sm-1">
                        <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                    </a>
                </div>
                    
                      <div class="col-sm-1">
                              <a href="https://www.whatsapp.com/" target="_blank">
                          <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                              </a>
                    </div>
                       <div class="col-sm-1">
                         <a href="https://plus.google.com/discover" target="_blank">
                         <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                       </div>
           <div class="col-sm-1"> 
               <a href="https://twitter.com/login" target="_blank">
                 <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
           </div>
         <div class="col-sm-1"> 
            <a href="https://www.instagram.com/accounts/login/" target="_blank">
              <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
           </div>
          </div>
         
          </div>
         
        </div>

    </div> 
    </div>
    </div>                          
        
              <!-- **************** com ************* -->
      
            <div class="container-fluid">
                  <div class="row">
                          <div class="col-sm-8 col-sm-offset-2 comments">
                            <h4 class="aboutu"> Leave your comments </h4> 
                            <hr/>  
                              <div class="col-sm-10 col-sm-offset-2">
                                <form class="example-form">
                                    <div class="col-sm-12">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Name" [(ngModel)]="comments.name" name="comments">
                                    </mat-form-field>
                                    </div>
      
                                    <div class="col-sm-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email Id" [(ngModel)]="comments.email" name="email">
                                      </mat-form-field>
                                      </div>
      
                                      <div class="col-sm-12">
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Contact No" [(ngModel)]="comments.contactNo" name="contact">
                                        </mat-form-field>
                                        </div>
      
                                        <div class="col-sm-12">
                                        <mat-form-field class="example-full-width">
                                            <textarea matInput placeholder="Leave a comment" [(ngModel)]="comments.leaveComment" name="leaveComment"></textarea>
                                          </mat-form-field>
                                        </div>
                                    </form>
                                 <button class="btn-primary vsb" (click)="overallcomment()"> Submit </button>
                            </div>  
      
                           </div>
                        </div>
      </div> 
      
   


      <div class="col-sm-12 footerback">
            <div class="col-sm-8 col-sm-offset-3">
              <div class="col-sm-8">
                <!-- <div class="col-sm-4">
                  <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
            
                     <h3> About Us </h3>
                 </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </div> -->
                <div class="col-sm-4">
                 <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
             
                  <h3>  Advertises  </h3>
                </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              </div>
              <div class="col-sm-4">
                <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
             
                  <h3> Feedback   </h3>
              </a>
            </div>
              </div>
             <div class="col-sm-8 catas">
                <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
                        Animals  
                </a>
                 /  
                 <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
            
                     Baby Care Centers  
                </a>
                 /  
                 <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
            
                  Beauty Parlour   </a>
                  /
                 
                 <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
            
                    Dance   </a>
                     / 
                     <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
                      Driving Schools  
                   </a> 
                   / 
                     
                   <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
                       Fights Institutions 
                   </a> 
                   /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
                      Fire Works  
                   </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
              
                       Function Halls 
                  </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
              
                       Furnitures  
                  </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
              
                     GYM  
                  </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
                      Hostels 
                  </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
                     Indoor Games  
                   </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
                
                      Marriage Bureaus  
                  </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
            
                       Music  Institutions
                  </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
                      Outdoor Games  
                   </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
              
                     Plants  
                  </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
                       Packers and Movers  
                   </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
                       Professional Insitutions  
                   </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
              
                     Real Estate 
                  </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
            
                      Restaurants  
                  </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
            
               Swimming Pools  
                  </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
            
                       Tutions  Centers  
                  </a>
                
             </div>
             <div class="col-sm-8 locationcs">
               <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
             </div>
        
             <div class="col-sm-6">
              
              <h3> Keep in touch </h3>
              <div class="col-sm-2">
                <a href="https://www.facebook.com/abhinesh.ghugloth" target="_blank">
            <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
            </a>
        </div>
        
      <div class="col-sm-2"> 
      <a href="https://twitter.com/yestelanganase1" target="_blank">
      <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
      </div>
      <div class="col-sm-2"> 
      <a href="https://www.instagram.com/yestelanganaservices/" target="_blank">
      <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
      </div>
      
              </div>
        <div class="col-sm-8 ">
        <h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
        </div>
            </div>
          </div>


 