<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand yesT"> YES TELANGANA </a>
      </div>
      <ul class="nav navbar-nav pull-right fff">
            <li class="lsc" (click)="viewProfile()"><a  class=""> 
                    <img src="{{indoorgamesClients.images2}}" class="img-circle"  style="width:100%">  </a></li>

 
            
          </ul>
       <!-- <ul class="nav navbar-nav pull-right fff">
            <li class="lsc" (click)="viewnoti()"><a  class=""> 
                    <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
</ul> -->
         
<div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
     <div class="col-sm-12">

            <img src="{{indoorgamesClients.images2}}" class="img-circle"  style="width:45%">
     </div>
     <div class="col-sm-12">
            <div class="col-sm-12">
                    <h5 class="fnamess">    {{indoorgamesClients.name}}</h5>
             </div>
           
             <div class="col-sm-12">
                    <p>   {{indoorgamesClients.emailId}}</p>
             </div>
            
     </div>
     <div class="col-sm-12">
             <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
     </div>
    
</div>
 <div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
    <div class="col-sm-12">
  <img src="{{indoorgamesClients.images2}}" class="img-circle"  style="width:45%">
  </div> 
  </div>  
  </div>
  </nav>
 <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 activities">
            <h3 class="acName"> <b> Activities </b></h3>
            <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                  <h4> view   profile </h4>
              </div>
              <div class="col-sm-12 sidenavact" (click)="viewupdatesShow()">
                  <h4> Post / View Services </h4>
              </div>

              <div class="col-sm-12 sidenavact" (click)="ProductsShow()">
                  <h4> Post / View Fecilities  </h4>
              </div> 

              <div class="col-sm-12 sidenavact" (click)="updatesShow()">
                <h4> Post  / View Updates</h4>
            </div>
           
              <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                      <h4> Recieve Comments ({{gcommc}}) </h4>
                  </div>
                  <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                          <h4> Galleries </h4>
                      </div>
          </div>
       
      <div class="col-sm-8">
         <div class="col-sm-12" *ngIf="showmains">
            <div class="catog">
                <div class="bgshostel">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 bghostels">
                    
                              
                                <h2 class="cnames"> {{indoorgamesClients.instName}} </h2>    
                                <div class="col-sm-12 bgimg">
                                    <img src="{{indoorgamesClients.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                                
                                </div>
                        <hr/>
                       
                        </div>
                        </div>
                        </div>
                        </div>
            
                        <!-- *********************about us*********************** -->
                 <div class="bgimgses">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-6 mains">
                     <div class="col-md-12">
                    <img src="{{indoorgamesClients.images2}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
                  <hr/>
              </div>
              </div>
              <div class="col-sm-6 mains">
                <div class="col-md-12">
                  <p class="aboutus"> About Us  </p>
                  <p class="aboutuso">  {{indoorgamesClients.aboutUseDes1}}</p>
                  <p class="aboutust"> {{indoorgamesClients.aboutUseDes2}} </p>
              <hr/>
              <h3 class="aboutusts"> <b> {{indoorgamesClients.name}} </b></h3>
              <hr/>
              </div>
              </div>
                  </div>
                </div>
              </div>
                        <div class="container-fluid">
                          <div class="row">
                              <div class="col-sm-12">
                                <div class="col-sm-12 timings">
                                    <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
                <ul>
                  <li class="nones"> {{indoorgamesClients.day1}} </li>
                  <li class="nones"> {{indoorgamesClients.day2}} </li>
                  <li class="nones"> {{indoorgamesClients.day3}} </li>
                  <li class="nones"> {{indoorgamesClients.day4}} </li>
                  <li class="nones"> {{indoorgamesClients.day5}} </li>
                  <li class="nones"> {{indoorgamesClients.day6}} </li>
                  <li class="nones"> {{indoorgamesClients.day7}} </li>
                  <li class="nones"> Hours of Operations : <span class="timing"> {{indoorgamesClients.allTimes}} </span> </li>
                </ul>
                <hr/>
                                </div>
                              
                                  <hr/>
                                  <div class="col-sm-12 e addes">
              
                                      <h4 class="ads"> Address </h4> 
                                      <hr/>
                                      <div class="col-sm-12 cons addresscap">
                                         H No:{{indoorgamesClients.houseNo}} , {{indoorgamesClients.subArea}},{{indoorgamesClients.landmark}},{{indoorgamesClients.city}}
                                         {{indoorgamesClients.distict}},
                                          {{indoorgamesClients.state}},
                                          {{indoorgamesClients.pincode}}
                                    </div>
                      
                                  </div>
                               
                                  <div class="col-sm-12 e addes">
                                      <h4 class="ads"> Contact informations </h4> 
                                      <hr/>
                                      <div class="col-sm-12 cons">
                <p>  
                    <span class="glyphicon glyphicon-phone-alt"> office no: {{indoorgamesClients.officeNo}} 
                    
                </span>
                 </p>
                                            <br>
                  <p> 
                       <span class="glyphicon glyphicon-earphone">
                             Mobile No: {{indoorgamesClients.mobileNo}} 
                      </span></p>
                                              <br>
                          <p> <i class="fa fa-whatsapp" aria-hidden="true">
                               whatsapp No: {{indoorgamesClients.whatsupno}} </i></p>
                                                                        <br>
                                         <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{indoorgamesClients.emailId}} </i>
                                           
                                          </p> 
                                            <br>
                                            
                                      </div>
                
                                    </div>
                                </div>
                <div class="col-sm-9 divb">
                   <div class="col-sm-12 carouseldiv">
                     <h2> Our Team Members </h2>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                              <li data-target="#myCarousel" data-slide-to="3"></li>
                    
                            </ol>
                        
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                              <div class="item active">
                                <img src="{{indoorgamesClients.images3}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                              </div>
                        
                              <div class="item">
                                <img src="{{indoorgamesClients.images4}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                              </div>
                            
                              <div class="item">
                                <img src="{{indoorgamesClients.images5}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                              </div>
                              <div class="item">
                                <img src="{{indoorgamesClients.images6}}" style="width:100%;height:500px" class="pull-left img-thumbnail img-responsive">
                              </div>
                            </div>
                        
                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
            
                        </div>
                        <h4><b> Our Team Works : </b><span class="teams"> {{indoorgamesClients.ourTeam}} </span></h4>
                        <h4><b> Team Members Names : </b> <span class="teams">    {{indoorgamesClients.teamMembersNames}} </span></h4>
                        <h4><b> Team Descriptions : </b> <span class="teams">  {{indoorgamesClients.teamDescriptions}} </span></h4>
                   </div>
                  
                    
            
                </div>
              </div>
                <!-- ********************* end main ***************************** pending 1 div -->
            <div class="col-sm-12">
                
              
            </div>
            
         </div>
        </div>
         <div class="col-sm-12" *ngIf="updatesShows">
            <h3> Post Updates </h3>

    <div class="col-sm-12">
                 
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter your title" [(ngModel)]="ups.title" name="title">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your descriptions" [(ngModel)]="ups.description" name="descriptions">
                          </mat-form-field>
                         
  
                          <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'images')" [(ngModel)]="ups.images" class="updated" name="images1" >
                          <p> Viedeos</p>  <input type="file" #Image accept="viedo/*"  (change)="handleFileInputUpdate($event,'viedoes')" [(ngModel)]="ups.viedoes" class="updated" name="viedoes" >
                          
        <button class="btn-primary upbuttons" (click)="postUpdatesForm()"> submit </button>
            
        </div> 
            <!-- ******************* UPDATES PRESENT ********************************* -->
  
 <div class="col-sm-12">
    <div class="col-sm-12"><h3> Our Updates ({{clientUpdatesCount}}) </h3></div>
      <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
        <div class="col-sm-12">
            <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
              <a> 
                  <img src="{{up.images}}" alt="about us" style="width:100%"></a>
        </div>
  
  
        <div class="col-sm-12 viedoes">
            <video width="100%" height="400px" controls>
                <source src="{{up.viedoes}}" type="video/mp4">
               </video>
          </div>
      
          <div class="col-sm-12">
              <h3> {{up.title}} </h3>
              <h6> {{up.description}} </h6>
           </div>
  
           <!-- <div class="col-sm-3" (click)="shareClick(up)">
                  <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                    share </p>
               </div> -->
              <div class="col-sm-3" (click)="commentsClick(up)">
                  <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                    <span class=""> comments </span> 
                 </p>
          </div>
          <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
              <div class="col-sm-1">
                  <a href="https://www.facebook.com/" target="_blank">
              <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
              </a>
          </div>
              
                <div class="col-sm-1">
                        <a href="https://www.whatsapp.com/" target="_blank">
                    <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                        </a>
              </div>
                 <div class="col-sm-1">
                   <a href="https://plus.google.com/discover" target="_blank">
                   <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                 </div>
     <div class="col-sm-1"> 
         <a href="https://twitter.com/login" target="_blank">
           <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
     </div>
   <div class="col-sm-1"> 
      <a href="https://www.instagram.com/accounts/login/" target="_blank">
        <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
     </div>
          </div>
      
        <div class="col-sm-12">
            <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
               <div class="col-sm-12">
                <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
            </div>
          </div>
   
    <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
        
  <div class="col-sm-12" *ngFor="let comms of getUsersComments">
    <div class="col-sm-12 userscomm">
    <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                     <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                      <h6>  {{comms.descriptions}} </h6> 
   </div>                  
                  <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                          <a class="replyses">
                              <b class="replies lsc"> reply   </b></a>
                      </div> 
                   
  
  
      <div  class="u" *ngIf="replyfrom && replyid == comms._id">
          <mat-form-field class="example-full-width">
              <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
            </mat-form-field>
            <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
       
        <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
            <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
       <img src="{{indoorgamesClients.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
          {{indoorgamesClients.name}}:</span>
         <h6> {{rep.descriptions}} </h6> 
         </div> 
         </div> 
  
        </div>
      </div>
  </div>
        </div>
      </div>
              </div>
            
            
           
  
           <div class="col-sm-12" *ngIf="viewupdatesShows">
             <div class="col-sm-12">
                <h2> Post / View Services </h2>
                 </div>

                 <div class="col-sm-12">
                    <h2> Post Services </h2>
                    <div class="col-sm-12">
 
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter game Name" [(ngModel)]="ser.gameName" name="gameName">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter about Game" [(ngModel)]="ser.aboutGame" name="aboutGame">
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="please enter No Of Players" [(ngModel)]="ser.NoOfPlayers" name="NoOfPlayers">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="please enter trainers Name" [(ngModel)]="ser.trainersName" name="trainersName">
                              </mat-form-field>
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="please enter trainers Years Of Exp" [(ngModel)]="ser.trainersYearsOfExp" name="trainersYearsOfExp">
                                </mat-form-field>
                                
                                     
                                        <hr/>
            <p> Game traineer Img </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesI($event,'trainersImg')" [(ngModel)]="ser.trainersImg"   class="updated" name="traineerImg" >
            <hr/>
            <hr/>
            <p> Game images 1 </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesI($event,'gameImg')" [(ngModel)]="ser.gameImg"   class="updated" name="fightTypeImg1" >
            <hr/>           
                      <button class="btn-primary upbuttons" (click)="updateServices()"> submit </button>
                          
                      </div>

                      <!-- <div class="col-sm-6">
                          <h3> Post Customers  Services</h3>
                          <div class="col-sm-6">
                           <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{serviceGameName}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="locationsdrops" *ngFor="let get of servicesOneGets" (click)="gameNames(get)">{{get.gameName}}</li>
                                </ul> 
                           </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter game Player Names 1" [(ngModel)]="sers.gamePlayerNames1" name="gamePlayerNames1">
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="please enter game Player Names 2" [(ngModel)]="sers.gamePlayerNames2" name="gamePlayerNames2">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="please enter game Player Names 3" [(ngModel)]="sers.gamePlayerNames3" name="gamePlayerNames3">
                              </mat-form-field>
                              <mat-form-field class="example-full-width">
                                  <input matInput placeholder="please enter game Player Names 4" [(ngModel)]="sers.gamePlayerNames4" name="gamePlayerNames4">
                                </mat-form-field> 
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="please enter game Player Ttile" [(ngModel)]="sers.gamePlayerTtile" name="gamePlayerTtile">
                                  </mat-form-field> 
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="please enter any Descriptoions" [(ngModel)]="sers.anyDescriptoions" name="anyDescriptoions">
                                    </mat-form-field>   
                                          <hr/>
              <p> Game players Img </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdatesT($event,'gameNamesImg1')" [(ngModel)]="sers.gameNamesImg1"   class="updated" name="traineerImg" >
              <hr/>
                      
                        <button class="btn-primary upbuttons" (click)="updateServicesTwo()"> submit </button>
                            
                        </div> -->
                 </div>
<div class="col-sm-12">
    <h2> View Services </h2>
    <div class="col-sm-12">
      Total List of Games:
      <ol>
        <li *ngFor="let ser of servicesOneGet"> <b> {{ser.gameName}} </b> </li>
      </ol>
    </div>
</div>
   
<div class="col-sm-12"  (click)="ServicesOneClick(ser)">
  <div class="col-sm-6 sidedivgames" *ngFor="let ser of servicesOneGet">
      <div class="col-sm-12">
          <h3 class="divsmallNames"> {{ser.gameName}} </h3>
            <img src="{{ser.gameImg}}" class="img-thumbnail"  style="width:100%">
        </div>
        <div class="col-sm-8">
            <img src="{{ser.trainersImg}}" class="img-thumbnail"  style="width:100%">
          
         </div>
         <div class="col-sm-12">
            <h5 class="tt"><b> Trainer Name : {{ser.trainersName}} </b></h5>
            <h5 class="tt"> <b> Years Of Exp : {{ser.trainersYearsOfExp}} </b> </h5>
            <h5 class="tt"><b> No Of Players : {{ser.NoOfPlayers}} </b></h5>
          <p class="ptags"><b class="tt"> About {{ser.gameName}} : </b>  {{ser.aboutGame}} </p>
          </div>
  </div>
<!-- <div class="col-sm-6" *ngIf="servicesIds == ser._id">
  <h3 class="text-center"> <b> View Posts ({{servicesTwoGetc}})</b></h3>
  <div class="col-sm-12 sidedivgames" *ngFor="let ser of servicesTwoGet">
    <div class="col-sm-12">
        <h3 class="divsmallNames"> {{ser.gameName}} </h3>
        <h3 class=""> {{ser.gamePlayerTtile}} </h3>
        <img src="{{ser.gameNamesImg1}}" class="img-thumbnail"  style="width:100%">

    </div>
    <div class="col-sm-12">
        <h5 class="tt"><b> Players Name 1: {{ser.gamePlayerNames1}} </b></h5>
        <h5 class="tt"><b> Players Name 2: {{ser.gamePlayerNames1}} </b></h5>
        <h5 class="tt"><b> Players Name 3: {{ser.gamePlayerNames1}} </b></h5>
        <h5 class="tt"><b> Players Name 4: {{ser.gamePlayerNames1}} </b></h5>
        <p> <b> About Us: </b> {{ser.anyDescriptoions}} </p>
    </div>
  </div>
</div> -->
</div>
    </div>
   
              <div class="col-sm-12" *ngIf="onlyCommentsShows">
                  <h2> General Comments ({{gcommc}})</h2>
                  <table class="table table-hover">
                        <thead>
                                 
                            <tr class="insidecap tablessc">
                                <th> Sl.No </th>
                                    <th> Name</th>
                                    <th class="standards"> email Id</th>
                                    <th>Contact No</th>
                                    <th> Comments</th>
                                    <th> Posted on Date </th>
                                    <th> Time </th>
                                   </tr>
                          </thead>
                <tbody>
                  <tr *ngFor="let s of gcomm; index as i">
                      <td> <p class="services2">{{i+1}} </p> </td>
                     <td><p> {{s.name}}</p></td>
                    <td><p> {{s.email}}</p></td>
                     <td><p> {{s.contactNo}} </p></td>
                    <td> <p> {{s.leaveComment}} </p> </td>
                    <td><p>  {{s.createdAt | date: 'dd/MM/yyyy'}}  </p></td>
                    <td><p> {{s.createdAt  | date: "shortTime"}} </p></td>
              
                  </tr>
                  
                </tbody>
                </table>
         </div>
  
         <div class="col-sm-12" *ngIf="ImagesShows">
            <div class="col-sm-12">
                <h3 class="gimages"> General Images </h3>
               
  <div class="col-sm-4 mars">
    <a href="{{indoorgamesClients.images1}}" target="_blank"> 
        <img src="{{indoorgamesClients.images1}}" alt="about us" style="width:100%;height:250px"> 
     </a>
  </div>
  <div class="col-sm-4 mars">
        <a href="{{indoorgamesClients.images2}}" target="_blank"> 
            <img src="{{indoorgamesClients.images2}}" alt="about us" style="width:100%;height:250px"> 
         </a>
     </div>
    <div class="col-sm-4 mars">
            <a href="{{indoorgamesClients.images3}}" target="_blank"> 
                <img src="{{indoorgamesClients.images3}}" alt="about us" style="width:100%;height:250px"> 
             </a>
         </div>
        <div class="col-sm-4 mars">
                <a href="{{indoorgamesClients.images4}}" target="_blank"> 
                    <img src="{{indoorgamesClients.images4}}" alt="about us" style="width:100%;height:250px"> 
                 </a>
             </div>
  
            <div class="col-sm-4 mars">
                    <a href="{{indoorgamesClients.images5}}" target="_blank"> 
                        <img src="{{indoorgamesClients.images5}}" alt="about us" style="width:100%;height:250px"> 
                     </a>
                 </div>
                 <div class="col-sm-4 mars">
                    <a href="{{indoorgamesClients.images6}}" target="_blank"> 
                        <img src="{{indoorgamesClients.images6}}" alt="about us" style="width:100%;height:250px"> 
                     </a>
                 </div>
  
                <div class="col-sm-12">
                        <h1 class="gimages"> Update Images </h1>
                        <div class="col-sm-4 mars" *ngFor="let item of clientUpdates">
                                <a href="{{item.images}}" target="_blank"> 
                                    <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                                 </a>
                             </div>
        
                </div>
                 <div class="col-sm-12">
                        <h1 class="gimages"> Update Viedoes  </h1>
                        <div class="col-sm-6 mars" *ngFor="let pro of clientUpdates">
                                <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                                <a href="{{pro.viedoes}}" target="_blank"> 
                                        <video width="100%" controls>
                                                <source src="{{pro.viedoes}}" type="video/mp4">
                                                
                                               </video> 
                                                  
                                 </a>
                            </div>
                 </div>
          </div>
           </div>
  
           <div class="col-sm-12" *ngIf="ProductsShows">
              <h3> Post / View Fecilities  </h3>
              <div class="col-sm-12">
                  <h4> Post  Fecilities  </h4>
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="please enter your Fecilities Name" [(ngModel)]="fec.fecilitiesName" name="title">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter your Descriptions" [(ngModel)]="fec.fecilitiesDescriptions" name="descriptions">
                          </mat-form-field>
                         
  
  <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileFec($event,'fecilitiesImg')" placeholder="please enter fecilitiesImg" class="updated" name="fecilitiesImg" >
  <button class="btn-primary upbuttons" (click)="postFecilities()"> submit </button>
  
                  </div>
  
                  <div class="col-sm-12">
                      <h4> View  Fecilities ({{fecilitiesGetc}}) </h4>
  <div class="col-sm-4"  *ngFor="let fec of fecilitiesGet">
      <img src="{{fec.fecilitiesImg}}" class="img-circle"  style="width:100%">
  <h4>{{fec.fecilitiesName}}</h4>
  <p>{{fec.fecilitiesDescriptions}}</p>
  </div>
              </div>
                 </div>
            
        </div>  
      </div>
    </div>
  





 