<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
  <div class="container-fluid">
    <div class="navbar-header lsc">
      <a class="navbar-brand yesT"> YES TELANGANA </a>
    </div>
    <ul class="nav navbar-nav pull-right fff">
          <li class="lsc" (click)="viewProfile()"><a  class=""> 
                  <img src="{{mainuser.images2}}" class="img-circle"  style="width:100%">  </a></li>


          
        </ul>
     <!-- <ul class="nav navbar-nav pull-right fff lsc">
          <li class="lsc" (click)="viewnoti()"><a  class=""> 
                  <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
</ul> -->
       
<div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
   <div class="col-sm-12">

          <img src="{{mainuser.images2}}" class="img-circle"  style="width:45%">
   </div>
   <div class="col-sm-12">
          <div class="col-sm-12">
                  <h5 class="fnamess">    {{mainuser.name}}</h5>
           </div>
         
           <div class="col-sm-12">
                  <p>   {{mainuser.emailId}}</p>
           </div>
          
   </div>
   <div class="col-sm-12">
           <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
   </div>
  
</div>


<div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
  <div class="col-sm-12">
         <img src="{{mainuser.images2}}" class="img-circle"  style="width:45%">
  </div> 
 </div>  

  </div>
</nav>

<!-- ********************************************************************************************************************* -->


<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 activities">
          <h3 class="acName"> <b> Activities </b></h3>
          <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                <h4> view   profile </h4>
            </div>
          <div class="col-sm-12 sidenavact" (click)="updatesShow()">
              <h4> Post / Recieve  Updates</h4>
          </div>
          <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
            <h4> Galleries </h4>
        </div>
          <div class="col-sm-12 sidenavact" (click)="ServicesShow()">
                <h4>  Services ({{clientsServicesCount}}) </h4>
            </div>
           
            <div class="col-sm-12 sidenavact" (click)="ProductsShow()">
              <h4> Equipments Usages ({{equGetc}}) & Fecilities ({{fecilitiesGetCount}})   </h4>
          </div> 
                 <div class="col-sm-12 sidenavact" (click)="ProductsViewShow()">
              <h4> Training Classes ({{tgetsc}}) & Total Customers ({{totalcustomersGetCount}}) </h4>
                                </div> 
                  <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                      <h4> General Comments ({{gcommc}})</h4>
                  </div>
      </div>
    
    
   
    


    <div class="col-sm-8">
       <div class="col-sm-12" *ngIf="showmains">
          <h2>   View profile </h2>

        <div class="col-sm-12 bghostels">
        <h2 class="cnames"> {{mainuser.parlourName}} </h2>    
          <div class="col-sm-12 bgimg">
              <img src="{{mainuser.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
           </div>
 
<hr/>

</div>
<div class="bgimgses">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 mains">

             
<div class="col-md-12 images2">
        <img src="{{mainuser.images2}}" class="img-thumbnail" alt="about us" style="width:100%;"> 
  
<hr/>
</div>
</div>
<div class="col-sm-6 mains">

    
<div class="col-md-12">
    <p class="aboutus"> About Us  </p>
    <p class="aboutuso"> 
            {{mainuser.aboutUsDescription1}}
    </p>
    <p class="aboutust">  {{mainuser.aboutUsDescription2}} </p>
<hr/>
</div>
</div>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <div class="col-sm-12 timings">
      <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
<ul>
<li class="nones">{{mainuser.day1}}</li>
<li class="nones"> {{mainuser.day2}}</li>
<li class="nones"> {{mainuser.day3}} </li>
<li class="nones"> {{mainuser.day4}}</li>
<li class="nones"> {{mainuser.day5}} </li>
<li class="nones"> {{mainuser.day6}}</li>
<li class="nones"> {{mainuser.day7}} </li>
<li class="nones"> Hours of Operations : <span class="alltimes"> {{mainuser.allTimes}} </span> </li>
</ul>
<hr/>
  </div>
  <hr>
  <div class="col-sm-8 images">
  <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-picture"></span> Images </p>
  <hr/>                
  <ul>
      
        <ul>
          
                <li class="nones col-sm-12 addimgs"> <a href="{{mainuser.images1}}" target="_blank"><img src="{{mainuser.images1}}" alt="about us" style="width:100%">  </a></li>
                <li class="nones col-sm-12 addimgs"> <a href="{{mainuser.images2}}" target="_blank">  <img src="{{mainuser.images2}}" alt="about us" style="width:100%"> </a> </li>
                <li class="nones col-sm-12 addimgs">    <a href="{{mainuser.images3}}" target="_blank"><img src="{{mainuser.images3}}" alt="about us" style="width:100%"> </a> </li>
                <li class="nones col-sm-12 addimgs"><a href="{{mainuser.images4}}" target="_blank"><img src="{{mainuser.images4}}" alt="about us" style="width:100%"> </a> </li>
                <li class="nones col-sm-12 addimgs"> <a href="{{mainuser.images5}}" target="_blank"> <img src="{{mainuser.images5}}" alt="about us" style="width:100%"> </a> </li>
       
     
                      </ul>

    </ul>
    </div>
    <hr/>
    <div class="col-sm-12 e addes">

        <h4 class="ads"> Address </h4> 
        <hr/>
        <div class="col-sm-12 cons addresscap">
                H No:{{mainuser.houseNo}} , {{mainuser.subArea}},{{mainuser.landmark}},{{mainuser.city}}
                 
                 {{mainuser.distict}},
                 {{mainuser.state}},
                 {{mainuser.pincode}}
           </div>

    </div>
 
    <div class="col-sm-12 e addes">
        <h4 class="ads"> Contact informations </h4> 
        <hr/>
        <div class="col-sm-12 cons">
                <p> <span class="glyphicon glyphicon-phone-alt"> office no: {{mainuser.officeNo}} </span> </p> 
                      <br>
                      <p>  <span class="glyphicon glyphicon-earphone">  Mobile No: {{mainuser.mobileNo}}   </span></p>
                           <br>
                              <p> <i class="fa fa-whatsapp" aria-hidden="true"> whatsapp No: {{mainuser.whatsupno}} </i></p>
                                            <br>
                          <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{mainuser.emailId}} </i>  </p> 
           </div>

      </div>

  </div>

  <div class="col-sm-9">
    
       
    <div class="col-sm-12">
          <div id="myCarousel" class="carousel slide cauro" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
              
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="{{mainuser.images3}}" alt="Los Angeles" style="width:100%;height:500px">
                    </div>
              
                    <div class="item">
                      <img src="{{mainuser.images4}}" alt="Chicago" style="width:100%;height:500px">
                    </div>
                  
                    <div class="item">
                      <img src="{{mainuser.images5}}" alt="New york" style="width:100%;height:500px">
                    </div>
                  </div>
              
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
        </div>
   
  
 </div>
       </div>

       <div class="col-sm-12" *ngIf="updatesShows">
          <h1>  Post / Recieve Updates </h1>
        <h2>   Post Updates </h2>
            <div class="col-sm-12">
             <b class=""> update form: </b>
           <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputFurnitures($event,'images')" placeholder="please enter image" class="updated" name="images" >
            <p> viedoes </p>   <input type="file" #Image accept="video/*"  (change)="handleFileInputsFurnitures($event,'viedoes')" placeholder="please enter viedoes" class="updated" name="viedoes">
           <mat-form-field class="example-full-width">
            <input matInput placeholder="please enter your title" [(ngModel)]="postupdatedata.title" name="title">
          </mat-form-field>
           <br/>
           <mat-form-field class="example-full-width">
              <input matInput placeholder="please enter your description" [(ngModel)]="postupdatedata.descriptions" name="description">
            </mat-form-field>
             <button class="btn-primary upbuttons" (click)="UpdatePostData()"> submit </button>
          </div>
        
        

         <h2>   View Updates </h2>


          <!-- ********************************************** updates ******************************************** -->
          <div class="col-sm-12">
              <div class="col-sm-12">
                <h5 class="dfd"> <b>Our Updates({{adminsupdateCountsall}})</b> </h5>
                 
                    <div class="col-sm-12 dfs" *ngFor="let item of adminupdates">
                       <div class="col-sm-12">
                          <p><b> {{item.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{item.createdAt  | date: "shortTime"}} </span> </b> </p>

                            <a href="{{item.images}}" target="_blank">  <img src="{{item.images}}" alt="about us" style="width:100%; height:600px"></a>
                          <div class="col-sm-12 viedoes">
      
                          <video width="100%" height="400px" controls>
                                  <source src="{{item.viedoes}}" type="video/mp4">                                   
                                 </video>
                                </div>
                                <h6 class="insidecap titles"> {{item.title}} </h6>
                           <h6> {{item.descriptions}} </h6>
         
                       </div>
        
              <div class="col-sm-12" >         
            <hr/>
           
<!--              
            <div class="col-sm-3 lsc finalcss" (click)="showicons()">
                <div class="col-sm-12">
                    <p> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                      share </p>
                            
                </div>
                </div> -->
                <div class="col-sm-4 comentshow"  (click)="showcomments(item)">
                    <p class="lsc"> {{adminsupdateCommentsCount}} <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                     <span class="lsd"> comments </span> 
                  </p>
                </div>  
                <div class="col-sm-12 consts">
                <div class="col-sm-12 comentssuboit" *ngIf="shows">
              
                    
      
                      <div class="col-sm-12 viewsComs finalcss">

                          <a  class="replysess lsc finalcss"  (click)="updatestoAdmincommentsget(item._id)"><b> view comments ({{adminsupdateCommentsCount}}) </b></a> 
                      </div>
  <div class="col-sm-12">
                      <div class="col-sm-12 finalcss" *ngIf="showes && commentsUpdatesId == item._id">
                                <li *ngFor="let items of  adminsupdateComments" class="commm">
                                        <h6> 
                                          <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b>  <br/>      
                                         
                                            <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                                          {{items.descriptions}}  </h6>
                                        
                                          <br/>
                                          <h5 class="text-right">  <b>{{items.createdAt  | date: "shortTime"}}   </b> </h5>
                                         
                                        <br/> 
                                          <a class="replyses" (click)="updatesAdminReply(items._id)">
                                            <b class="lsc"> reply : </b></a>
                              
                             <div *ngIf="showess && selectedblogIds == items._id" class="u">
                                <mat-form-field class="example-full-width">
                                    <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="updatesCommentsdata.descriptions" name="descriptions" ></textarea>
                                  </mat-form-field>
                                  <button class="btn-primary" (click)="updatestoadmincomments()"> submit </button>
                                                 
                                <ul *ngFor="let replys of  adminsupdateCommentsReply"> 
                                    <b> {{items.createdAt | date: 'dd/MM/yyyy'}}</b>  <br/>  
  
                                  <img src="{{mainuser.images2}}" class="img-circle" alt="about us" style="width:4%"> <span class="replys">
                                    {{mainuser.name}}:</span>
                                   <h6> {{replys.descriptions}} </h6> 
                                   <br/>
                                   <b>{{items.createdAt  | date: "shortTime"}}   </b> 
                                  </ul> 
                              </div>      
                            
                                     </li>
                                           
                                      </div>
            </div>
          </div>
            <div class="col-sm-12 proc finalcss" *ngIf="show">
                  <div class="col-sm-1">
                          <a href="https://www.facebook.com/" target="_blank">
                      <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                      </a>
                  </div>
                      
                        <div class="col-sm-1">
                                <a href="https://www.whatsapp.com/" target="_blank">
                            <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                                </a>
                      </div>
                         <div class="col-sm-1">
                           <a href="https://plus.google.com/discover" target="_blank">
                           <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                         </div>
             <div class="col-sm-1"> 
                 <a href="https://twitter.com/login" target="_blank">
                   <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
             </div>
           <div class="col-sm-1"> 
              <a href="https://www.instagram.com/accounts/login/" target="_blank">
                <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
             </div>
            </div>
           
            </div>
           
          </div>
  
      </div> 
      </div>
      </div>       
         </div>
        <!-- ************************* our services *********************** -->

         <div class="col-sm-12" *ngIf="viewupdatesShows">
            <div class="col-sm-8">
                 <h2>  Service Post Details</h2>

                <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputBp($event,'images')" placeholder="please enter image" class="updated" name="images" >
               
                <mat-form-field class="example-full-width">
                   <input matInput placeholder="please enter your service name" [(ngModel)]="postupdatedataServices.servicesName" name="description">
                 </mat-form-field>
               
                 <br/>
               <mat-form-field class="example-full-width">
                  <input matInput placeholder="please enter your description" [(ngModel)]="postupdatedataServices.descriptions" name="description">
                </mat-form-field>
               
                <button class="btn-primary upbuttons" (click)="PostsServices()"> submit </button>
</div>
         <div class="col-sm-12">
             <h2> Service Receive </h2>

            <table class="table table-hover">
                   <thead>
              
                           <tr class="insidecap tablessc">
                                   <th class="standards"> Images </th>
                                   <th> Services Name</th>
                                   <th>Description</th>
                                   <th> Posted on Date </th>
                                   <th> Time </th>
                                  </tr>
                         </thead>
               <tbody>
                 <tr *ngFor="let s of clientsServices">
                   <td><p> <img src="{{s.images}}" alt="New york" style="width:100%;">  </p></td>
                   <td><p> {{s.servicesName}}</p></td>
                   <td><p> {{s.descriptions}} </p></td>
                   <td><p>  {{s.createdAt | date: 'dd/MM/yyyy'}}  </p></td>
                   <td><p> {{s.createdAt  | date: "shortTime"}} </p></td>

                 </tr>
                 
               </tbody>
             </table>
           </div>  
           </div>
<!-- ****************************************************************************************** -->

            <div class="col-sm-12" *ngIf="onlyCommentsShows">
       <div class="col-sm-12">
          <h2> General Comments ({{gcommc}})</h2>
          <table class="table table-hover">
              <thead>
         
                      <tr class="insidecap tablessc">
                            
                              <th> Name</th>
                              <th class="standards"> email </th>
                              <th>contactNo</th>
                              <th> Posted on Date </th>
                              <th> Time </th>
                             </tr>
                    </thead>
          <tbody>
            <tr *ngFor="let s of gcomm">
               <td><p> {{s.name}}</p></td>
              <td><p> {{s.email}}</p></td>
              <td><p> {{s.contactNo}} </p></td>
              <td><p>  {{s.createdAt | date: 'dd/MM/yyyy'}}  </p></td>
              <td><p> {{s.createdAt  | date: "shortTime"}} </p></td>
        
            </tr>
            
          </tbody>
        </table>
        
       </div>
       </div>

       <div class="col-sm-12" *ngIf="ImagesShows">
         <h2> Galleries </h2>
          <div class="col-sm-12">
              <h3 class="gimages"> General Images </h3>
             
<div class="col-sm-4 mars">
  <a href="{{mainuser.images1}}" target="_blank"> 
      <img src="{{mainuser.images1}}" alt="about us" style="width:100%;height:250px"> 
   </a>
</div>
<div class="col-sm-4 mars">
      <a href="{{mainuser.images2}}" target="_blank"> 
          <img src="{{mainuser.images2}}" alt="about us" style="width:100%;height:250px"> 
       </a>
   </div>
  <div class="col-sm-4 mars">
          <a href="{{mainuser.images3}}" target="_blank"> 
              <img src="{{mainuser.images3}}" alt="about us" style="width:100%;height:250px"> 
           </a>
       </div>
      <div class="col-sm-4 mars">
              <a href="{{mainuser.images4}}" target="_blank"> 
                  <img src="{{mainuser.images4}}" alt="about us" style="width:100%;height:250px"> 
               </a>
           </div>

          <div class="col-sm-4 mars">
                  <a href="{{mainuser.images5}}" target="_blank"> 
                      <img src="{{mainuser.images5}}" alt="about us" style="width:100%;height:250px"> 
                   </a>
               </div>

              <div class="col-sm-12">
                      <h1 class="gimages"> Update Images </h1>
                      <div class="col-sm-4 mars" *ngFor="let item of adminupdates">
                              <a href="{{item.images}}" target="_blank"> 
                                  <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                               </a>
                           </div>
      
              </div>
               <div class="col-sm-12">
                      <h1 class="gimages"> Update Video  </h1>
                      <div class="col-sm-6 mars" *ngFor="let pro of adminupdates">
                              <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                              <a href="{{pro.viedoes}}" target="_blank"> 
                                      <video width="100%" controls>
                                              <source src="{{pro.viedoes}}" type="video/mp4">
                                              
                                             </video> 
                                                
                               </a>
                          </div>
               </div>
      </div>
     
         </div>

         <div class="col-sm-12" *ngIf="ProductsShows">
            
            <h2>  Equipments and Usages ({{equGetc}}) </h2>

            <div class="col-sm-12">
              <h2> Posts Equipments and Usages Details</h2>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="please enter your equipnments" [(ngModel)]="equipments.equipnments" name="description">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="please enter your usages" [(ngModel)]="equipments.usages" name="usages">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="please enter your description" [(ngModel)]="equipments.description" name="description">
                    </mat-form-field>
                    <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputEquipmentsPosts($event,'fecilitiesImg')" [(ngModel)]="equipments.images" placeholder="please enter image" class="updated" name="images" >

                <button class="btn-primary upbuttons" (click)="EquipmentsPostsPosts()"> submit </button>

            </div>

            <div class="col-sm-12">
                <h2> Recieve Equipments and Usages Details</h2>
                
<div class="col-sm-12" *ngFor="let s of equGet">
    <p> <b> Posted On </b> {{s.createdAt | date: 'dd/MM/yyyy'}} {{s.createdAt  | date: "shortTime"}}  </p>
<div class="col-sm-5">
    <img src="{{s.images}}" alt="about us" style="width:100%;height:250px"> 

</div>
<div class="col-sm-7">
    <p> <b> Equipments Name :  </b> {{s.equipnments}}</p>
    <p> <b> Usages :  </b> {{s.usages}}</p>
    <p> <b> Description :  </b> {{s.description}} </p>
</div>  
</div>
              </div>

<div class="col-sm-12">
  <div class="col-sm-12">
     <h2> Post Fecilities  </h2>
     <mat-form-field class="example-full-width">
      <input matInput placeholder="please enter your fecilities Name" [(ngModel)]="fec.fecilitiesName" name="title">
    </mat-form-field>
     <br/>
     <mat-form-field class="example-full-width">
        <input matInput placeholder="please enter your fecilities Descriptions" [(ngModel)]="fec.fecilitiesDescriptions" name="description">
      </mat-form-field>

      <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputfecilitiesPostes($event,'fecilitiesImg')" placeholder="please enter image" class="updated" name="images" >
 

       <button class="btn-primary upbuttons" (click)="fecilitiesPostes()"> submit </button>

  </div>

  <div class="col-sm-12">
      <h2> View  Fecilities ({{fecilitiesGetCount}}) </h2>
    <div class="col-sm-12" *ngFor="let s of fecilitiesGets">
<div class="col-sm-5">
    <img src="{{s.fecilitiesImg}}" alt="about us" style="width:100%;height:250px"> 

</div>
<div class="col-sm-7">
    <h4> <b> Fecilities Name :</b> {{s.fecilitiesName}} </h4>
    <h4> <b> Fecilities Descriptions :</b> {{s.fecilitiesDescriptions}} </h4>
</div>
    </div>
  </div>
</div>
 

               </div>
          <div class="col-sm-12" *ngIf="ProductsViewShows">
              <h2>  Training Classes  </h2>

           <div class="col-sm-12">
              <h3>  Training Classes Post </h3>

              <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputTrainee($event,'images')" placeholder="please enter image" class="updated" name="images" >
             
              <mat-form-field class="example-full-width">
                 <input matInput placeholder="please enter your class name" [(ngModel)]="trainings.tclassname" name="tclassname">
               </mat-form-field>
             
               <br/>
             <mat-form-field class="example-full-width">
                <input matInput placeholder="please enter your description" [(ngModel)]="trainings.tclassDescription" name="tclassDescription">
              </mat-form-field>

              <br/>
             <mat-form-field class="example-full-width">
                <input matInput placeholder="please enter your trainner Name" [(ngModel)]="trainings.trainnerName" name="trainnerName">
              </mat-form-field>

              <br/>
             <mat-form-field class="example-full-width">
                <input matInput placeholder="please enter your Yeasrs of exp" [(ngModel)]="trainings.yearsOfExp" name="yearsOfExp">
              </mat-form-field>
             
              <br/>
             <mat-form-field class="example-full-width">
                <input matInput placeholder="please enter your Shifts" [(ngModel)]="trainings.Shifts" name="Shifts">
              </mat-form-field>

              <br/>
             <mat-form-field class="example-full-width">
                <input matInput placeholder="please enter your ShiftsTimmings From" [(ngModel)]="trainings.ShiftsTimmingsFrom" name="ShiftsTimmingsFrom">
              </mat-form-field>
              <br/>
              <mat-form-field class="example-full-width">
                 <input matInput placeholder="please enter your ShiftsTimmings To" [(ngModel)]="trainings.ShiftsTimmingsTo" name="ShiftsTimmingsTo">
               </mat-form-field>
              <button class="btn-primary upbuttons" (click)="PostsTrainee()"> submit </button>
           </div>

           <div class="col-sm-12">
              <h3>  Training Classes Recieve ({{tgetsc}})</h3>
<div class="col-sm-12 trainees colorsss" *ngFor="let t of tgets">
<h4 class="mainTiles"> {{t.tclassname}} </h4>
  <div class="col-sm-4">
        <img src="{{t.images}}" alt="New york" style="width:100%;">  
        <h5 class="colorssss"> <span class="colorss"> Name: </span> {{t.trainnerName}} </h5>
  </div>
  <div class="col-sm-8">
      <h5> <span class="colorss">  Descriptions : </span>  {{t.tclassDescription}} </h5>
      <h5 class="yeasofexp"> <span class="colorss"> Years Of Exp : </span>  {{t.yearsOfExp}} </h5>
      <h5><span class="colorss">   Shifts : </span>  {{t.Shifts}} </h5>
      <h5> <span class="colorss">   Timmings From : </span>  {{t.ShiftsTimmingsFrom}} </h5>
      <h5> <span class="colorss">  Timmings To : </span>    {{t.ShiftsTimmingsTo}} </h5>
  </div>
</div>
  </div>

  <div class="col-sm-12">
      <h2> Post Total Customers </h2>
      <mat-form-field class="example-full-width">
       <input matInput placeholder="please enter your customers Name" [(ngModel)]="totCus.customersName" name="title">
     </mat-form-field>
      <br/>
      <mat-form-field class="example-full-width">
         <input matInput placeholder="please enter your customers Place" [(ngModel)]="totCus.customersPlace" name="description">
       </mat-form-field>
 
       <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputtotalCustomers($event,'customersImg')" [(ngModel)]="totCus.customersImg" placeholder="please enter image" class="updated" name="images" >
  
 
        <button class="btn-primary upbuttons" (click)="totalCustomersPostes()"> submit </button>
 
   </div>
   <div class="col-sm-12">
      <h3>  View Total Customers ({{totalcustomersGetCount}})</h3>
  <div class="col-sm-4" *ngFor="let t of totalcustomersGets">
<img src="{{t.customersImg}}" alt="New york" style="width:100%;">  

<h5 class=" "> <span class=" "> Name: </span> {{t.customersName}} </h5>
<h5 class=" "> <span class=" "> Place: </span> {{t.customersPlace}} </h5>
</div>
  
</div>

         </div>
       </div>  
    </div>
  </div>


  