/* ***************************** nav bar *******************************************/
.lsc{cursor: pointer}
.yesT{    margin-top: 18px;
    font-weight: bold;
    text-shadow: -1px 4px 3px #968f8e;
    font-size: 40px;}
    .fff{    width: 60px;
        /* margin-right: 60px; */
        margin-top: 12px;}
        .profilesv{position: absolute;
            right: 0;
            top: 50px;
            background-color: beige;
            text-align: center;
            /* margin-right: 42px; */
            padding-bottom: 27px;
            z-index:99999
        }

/* ********************************************************************************* */

.activities{box-shadow: -7px 8px 6px 7px;
    background-color: burlywood;
    border-radius: 12px;
    border-bottom: 12px solid beige;margin-left: 25px;
}
.cnames{background: #ff9e00; border-radius: 5px; text-align: center; font-size: 60px; text-transform: capitalize; color: white; 
    padding: 15px; box-shadow: 35px 28px 10px black;}
.sidenavact{ margin-bottom: 12px;
    background-color: #a52a2a7a;
    font-weight: bolder;
    margin-top: 12px;color: honeydew;cursor: pointer;}
    .commm{list-style: none}
    .gimages{background-color: blue;
        width: 50%;
        text-align: center;
        font-size: 25px;
        padding: 12px;
        border-radius: 5px;
        color: white;}
        .bghostels{
            color: black;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 30px;
            border-radius: 1%;
            background-color:white
        }
        .bgimg{padding-bottom: 30px;margin-top:35px}
 .bgimgses{background-color: rgb(242, 246, 11);margin-bottom: 40px;}
 .dfs{
    border: 1px solid blue;
    padding: 10px;
    -webkit-box-shadow: 10px 4px 14px 20px;
    box-shadow: 10px 4px 14px 20px;
    margin-top: 50px;
}
.lsc{cursor: pointer;}
.finalcss{margin-bottom:40px}
.insidecap{
    text-transform: capitalize;
    font-weight: bolder
  }
  .titles{
    font-size: 25px;
    font-weight: bolder
}
 /* **************mains**************** */
.mains{
    position: relative;
    animation-name: catog;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{top:1000px;}
    100%{top:0;}
}
/* **************mainss**************** */
.mainss{
    position: relative;
    animation-name: catog;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{right:1000px;}
    100%{right:0;}
}
.aboutus{
    font-size: 40px;
    margin-top: 100px;
  margin-left:40px;
    margin-bottom: 30px;
}
.aboutuso{
     width: 70%;
     font-weight: bolder

}
.aboutust{
width: 70%;
/* font-weight: bolder */
}
.e{
    
    background-image: url(/assets/images/e.png);
    background-color: #cccccc;
    background-repeat: repeat;
    background-position: center;
    padding-bottom: 25px;
    color: antiquewhite;
    margin-bottom: 25px;
}
/* **************timings**************** */
.timings{
    position: relative;
    animation-name: catog;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************images**************** */
.images{
    position: relative;
    animation-name: catog;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
/* **************addes**************** */
.addes{
    position: relative;
    animation-name: catog;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    
}

@keyframes catog{
    0%{left:-1000px;}
    100%{left:0;}
}
.addimg{
    padding: 15px;
}
.addimgs{
    padding: 15px;
    border: 1px solid #0000ff1a;
}
.sdsthree{
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.co{
    background-color: #8080804f;
}
.nones{list-style: none}
.alltimes{color: red;font-weight:bold}
.ads{
    padding-top: 20px;
    font-size: 25px;
    color: black;
     font-weight: bolder
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .yeasofexp{color:tomato}
  .trainees{
    box-shadow: 32px 38px 13px black;
    margin-top: 41px;
    margin-bottom: 23px;
}  
.mainTiles{margin-left: 45px;
    text-align: center;
    font-weight: bold;
    color: blue;
    text-transform: capitalize;
    font-size: 27px;}
    .colorss{color:black}
    .colorsss{color:blue;
    text-align: justify}
    .colorssss{color:red;text-transform: capitalize}