<div class="catog">
    <div class="bgshostel">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 bghostels">
        
                  
                    <h2 class="cnames"> {{animalsuser.shopname}} </h2>    
                    <div class="col-sm-12 bgimg">
                        <img src="{{animalsuser.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                    
                    </div>
        
        <h4> over all view </h4>
        <ul class="overllview">
           
            <li class="fontsize"> <a href="#aboutus" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> About Us </span> 
                 
                </a> 
            </li>
            <li class="fontsize"> <a href="#iamges" data-toggle="tab">
                <span class="glyphicon glyphicon-hand-right"> Images </span> 
                     
                   </a> 
               </li>
               <li class="fontsize"> <a href="#payments" data-toggle="tab">
                  <span class="glyphicon glyphicon-hand-right"> Timings </span> 
                     
                   </a> 
               </li>
               <li class="fontsize"> <a href="#payments" data-toggle="tab">
                  <span class="glyphicon glyphicon-hand-right"> Our Aminals </span> 
                     
                   </a> 
               </li>
              
              
               <li class="fontsize"> <a href="#address" data-toggle="tab">
                  <span class="glyphicon glyphicon-hand-right"> Address</span> 
                   
                   </a> 
               </li>
               <li class="fontsize"> <a href="#cont " data-toggle="tab">
                  <span class="glyphicon glyphicon-hand-right"> Contact Informations</span> 
                    
                   </a> 
               </li>
               <li class="fontsize"> <a href="#cont " data-toggle="tab">
                  <span class="glyphicon glyphicon-hand-right"> Our Updates </span> 
                    
                   </a> 
               </li>
               <li class="fontsize"> <a href="#com" data-toggle="tab">
                  <span class="glyphicon glyphicon-hand-right"> Leave Comments</span> 
                   
                   </a> 
               </li>
            </ul>
            
            <hr/>
           
            </div>
            </div>
            </div>
            </div>

            <!-- *********************about us*********************** -->
     <div class="bgimgses">
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-6 mains">
  
              
  <div class="col-md-12">
  <img src="{{animalsuser.images2}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
    
  <hr/>
  </div>
  </div>
  <div class="col-sm-6 mains">
  
      
  <div class="col-md-12">
      <p class="aboutus"> About Us  </p>
      <p class="aboutuso">  {{animalsuser.aboutUsDescriptionOne}}</p>
      <p class="aboutust"> {{animalsuser.aboutUsDescriptionTwo}} </p>
  <hr/>
  <h3 class="aboutusts"> <b> {{animalsuser.name}} </b></h3>
  <hr/>
  </div>
  </div>
      </div>
    </div>
  </div>
            <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-3">
                    <div class="col-sm-12 timings">
                        <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
    <ul>
      <li class="nones"> {{animalsuser.day1}} </li>
      <li class="nones"> {{animalsuser.day2}} </li>
      <li class="nones"> {{animalsuser.day3}} </li>
      <li class="nones"> {{animalsuser.day4}} </li>
      <li class="nones"> {{animalsuser.day5}} </li>
      <li class="nones"> {{animalsuser.day6}} </li>
      <li class="nones"> {{animalsuser.day7}} </li>
      <li class="nones"> {{animalsuser.totaltiming}} </li>
    </ul>
    <hr/>
                    </div>
                  
                      <hr/>
                      <div class="col-sm-12 e addes">
  
                          <h4 class="ads"> Address </h4> 
                          <hr/>
                          <div class="col-sm-12 cons addresscap">
                             H No:{{animalsuser.hno}} , {{animalsuser.area}},{{animalsuser.landmark}},{{animalsuser.city}}
                             {{animalsuser.distict}},
                              {{animalsuser.state}},
                              {{animalsuser.pincode}}
                        </div>
          
                      </div>
                   
                      <div class="col-sm-12 e addes">
                          <h4 class="ads"> Contact informations </h4> 
                          <hr/>
                          <div class="col-sm-12 cons">
    <p>  
        <span class="glyphicon glyphicon-phone-alt"> office no: {{animalsuser.officeno}} 
        
    </span>
     </p>
                                <br>
      <p> 
           <span class="glyphicon glyphicon-earphone">
                 Mobile No: {{animalsuser.mobileno}} 
          </span></p>
                                  <br>
              <p> <i class="fa fa-whatsapp" aria-hidden="true">
                   whatsapp No: {{animalsuser.whatsupno}} </i></p>
                                                            <br>
                             <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{animalsuser.emailid}} </i>
                               
                              </p> 
                                <br>
                                
                          </div>
    
                        </div>
                    </div>
    <div class="col-sm-9">
       <div class="col-sm-12">
            <div id="myCarousel" class="carousel slide cauro" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                  <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
            
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="{{animalsuser.images3}}" class="img-thumbnail" alt="Los Angeles" style="width:100%;height:600px">
                  </div>
            
                  <div class="item">
                    <img src="{{animalsuser.images4}}" class="img-thumbnail" alt="Chicago" style="width:100%;height:600px">
                  </div>
                
                  <div class="item">
                    <img src="{{animalsuser.images5}}" class="img-thumbnail" alt="New york" style="width:100%;height:600px">
                  </div>
                  <div class="item">
                      <img src="{{animalsuser.images6}}" class="img-thumbnail" alt="New york" style="width:100%;height:600px">
                    </div>
                </div>
            
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div> 
            </div>
         </div>
      
         <div class="col-sm-12">
           <h3 class="givesanimalsdes"> Our Animals </h3>
        <div class="col-sm-2">
          <h4 class="ui">Types Of Animals</h4>
          <div class="col-sm-12" *ngFor="let a of animalsTypes; index as i">
            <ul> <li class="lisdts"> {{i+1}} {{a.animalsTypes}} </li> </ul>
          </div>
          <h4 class="ui">  {{animalsNames}} ({{animalsTypesCnts}}) </h4>
          <div class="col-sm-12" *ngFor="let a of animalsTypesDes ; index as i">
            <ul> <li class="lisdts"> {{i+1}} {{a.name}} </li> </ul>
          </div>
        </div> 
        <div class="col-sm-6 borderss">
            <div class="col-sm-3 bnty">
                <button type="button" class="btn btn-primary dropdown-toggle bnts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{animalsNames}}  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                      <li class="locationsdrops" *ngFor="let ani of animalsTypes" (click)="selectedAnimals(ani)">{{ani.animalsTypes}}</li>
                      </ul> 
              </div>
              <div class="col-sm-12">
                  <div class="col-md-6 g" *ngFor="let selects of animalsTypesDes">
                      <div class="thumbnail" (click)="selectAnimal(selects)">
                          <img src="{{selects.images1}}" class="img-thumbnail" alt="Nature" style="width:100%;height:200px">
                          <div class="caption">
                            <p>{{selects.name}}</p>
                          </div>
                          </div>
                    </div>
<div class="col-sm-12">
  <h2> Foods and Precautions </h2>
  <div class="col-sm-12 foodp" *ngFor="let pla of plantsFertilizersGet">
    <h4>   {{pla.foodType}}</h4>
    <h4>  {{pla.foodQuantity}} </h4>
    <h4>  {{pla.foodTimmings}} </h4>
    <h4>  {{pla.foodPrecations}} </h4>
    <h4>  {{pla.foodStorages}} </h4>


    <div class="col-sm-4">
            <img src="{{pla.foodImages1}}"   alt="about us" style="width:100%;height:200px">
                    <h4>  {{pla.foodImagesDes1}} </h4>
                   
     </div>
     <div class="col-sm-4">
            <img src="{{pla.foodImages2}}"   alt="about us" style="width:100%;height:200px">
                     <h4>  {{pla.foodImagesDes2}} </h4>
                    
     </div>
     <div class="col-sm-4">
            <img src="{{pla.foodImages3}}"   alt="about us" style="width:100%;height:200px">
                    <h4>  {{pla.foodImagesDes3}} </h4>
                  
     </div>
     </div>
</div>
<div class="col-sm-12">
  <h2> Animals Necessaries</h2>
    <div class="col-sm-4" *ngFor="let pla of PlantsEquipmentsGet">
           <img src="{{pla.nessariesImages}}" alt="about us" style="width:100%;height:250px"> 
           <h4>   {{pla.necessariesName}}</h4>

    </div>
       
   </div>      
              </div>
          </div> 
          <div class="col-sm-4 borderss">
              <div class="col-sm-12 textsAdj">
               <h3 class="aniNames">  {{animalsNames}}  </h3>
               <h4 class="sidetextsna"><b class="sidetexts"> Name :</b>  {{animalsTypesDesInd.name}} </h4>
               <h4 class="sidetextsna"> <b class="sidetexts"> Age : </b> {{animalsTypesDesInd.age}} </h4>
               <h4 class="sidetextsna">  <b class="sidetexts"> Food : </b>{{animalsTypesDesInd.food}} </h4>
               <h4 class="sidetextsna">  <b class="sidetexts"> Precautions : </b>{{animalsTypesDesInd.precautions}} </h4>
               <h4 class="sidetextsna">  <b class="sidetexts"> Descriptions : </b>{{animalsTypesDesInd.descriptions}} </h4>
               <h4 class="sidetextsna">  <b class="sidetexts"> Gender : </b>{{animalsTypesDesInd.gender}} </h4>
                 <h4 class="sidetextsna"> <b class="sidetexts"> Price : </b>{{animalsTypesDesInd.price}} </h4>
                <div class="col-md-12">
                  <div class="thumbnail">
                      <img src="{{animalsTypesDesInd.images1}}" class="img-thumbnail" alt="Nature" style="width:100%;height:200px">
                      <div class="caption">
                        <p>{{animalsTypesDesInd.images1des}}</p>
                      </div>
                      </div>
                </div>

                <div class="col-md-12">
                    <div class="thumbnail">
                        <img src="{{animalsTypesDesInd.images2}}" class="img-thumbnail" alt="Nature" style="width:100%;height:200px">
                        <div class="caption">
                          <p>{{animalsTypesDesInd.images2des}}</p>
                        </div>
                        </div>
                  </div>

                  <div class="col-md-12">
                      <div class="thumbnail">
                          <img src="{{animalsTypesDesInd.images3}}" class="img-thumbnail" alt="Nature" style="width:100%;height:200px">
                          <div class="caption">
                            <p>{{animalsTypesDesInd.images3des}}</p>
                          </div>
                          </div>
                    </div>
               
             </div>
            </div>      
        </div>
  

  <!-- ******************* UPDATES PRESENT ********************************* -->
 <div class="col-sm-8 col-sm-offset-3">
   <h3> Our Updates ( {{clientUpdatesCnts}} ) </h3>
    <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
      <div class="col-sm-12">
          <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
            <a> 
                <img src="{{up.images}}" alt="about us" style="width:100%"></a>
      </div>


      <div class="col-sm-12 viedoes">
          <video width="100%" height="400px" controls>
              <source src="{{up.viedoes}}" type="video/mp4">
             </video>
        </div>
    
        <div class="col-sm-12">
            <h3> {{up.title}} </h3>
            <h6> {{up.descriptions}} </h6>
         </div>

         <!-- <div class="col-sm-3" (click)="shareClick(up)">
                <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                  share </p>
             </div> -->
            <div class="col-sm-3" (click)="commentsClick(up)">
                <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                  <span class=""> comments </span> 
               </p>
        </div>
        <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
            <div class="col-sm-1">
                <a href="https://www.facebook.com/" target="_blank">
            <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
            </a>
        </div>
            
              <div class="col-sm-1">
                      <a href="https://www.whatsapp.com/" target="_blank">
                  <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                      </a>
            </div>
               <div class="col-sm-1">
                 <a href="https://plus.google.com/discover" target="_blank">
                 <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
               </div>
   <div class="col-sm-1"> 
       <a href="https://twitter.com/login" target="_blank">
         <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
   </div>
 <div class="col-sm-1"> 
    <a href="https://www.instagram.com/accounts/login/" target="_blank">
      <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
   </div>
        </div>
    
      <div class="col-sm-12">
          <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
              <mat-form-field class="example-full-width">
                  <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
                </mat-form-field>
                <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
            <div class="col-sm-12">
              <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
          </div>
        </div>
 
  <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
<div class="col-sm-12" *ngFor="let comms of getUsersComments">
  <div class="col-sm-12 userscomm">
  <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                   <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                    <h6>  {{comms.descriptions}} </h6> 
 </div>                  
                <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                        <a class="replyses">
                            <b class="replies lsc"> reply   </b></a>
                    </div> 
                 


    <div  class="u" *ngIf="replyfrom && replyid == comms._id">
      <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
          <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
     <img src="{{animalsuser.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
        {{animalsuser.name}}:</span>
       <h6> {{rep.descriptions}} </h6> 
       </div> 
       </div> 

      </div>
    </div>
</div>
      </div>
    </div>
         
               <!-- **************************************************** -->
          
  <!-- **************** com ************* -->
      
 <div class="container-fluid">
    <div class="row">
            <div class="col-sm-8 col-sm-offset-2 comments">
              <h4 class="aboutu"> Leave your comments </h4> 
              <hr/>  
                <div class="col-sm-10 col-sm-offset-2">
                  <form class="example-form">
                      <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Name" [(ngModel)]="commentspost.name" name="comments">
                      </mat-form-field>
                      </div>

                      <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                          <input matInput placeholder="Email Id" [(ngModel)]="commentspost.email" name="email">
                        </mat-form-field>
                        </div>

                        <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Contact No" [(ngModel)]="commentspost.contactNo" name="contact">
                          </mat-form-field>
                          </div>

                          <div class="col-sm-12">
                          <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="Leave a comment" [(ngModel)]="commentspost.leaveComment" name="leaveComment"></textarea>
                            </mat-form-field>
                          </div>
                      </form>
                   <button class="btn-primary vsb" (click)="overallcomment()"> Submit </button>
              </div>  

             </div>
          </div>
</div> 



    <!-- ************************************************** -->
    </div>
  </div>
  </div>


  <div class="col-sm-12 footerback">
      <div class="col-sm-8 col-sm-offset-3">
        <div class="col-sm-8">
          <!-- <div class="col-sm-4">
            <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
      
               <h3> About Us </h3>
           </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          </div> -->
          <div class="col-sm-4">
           <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
       
            <h3>  Advertises  </h3>
          </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div>
        <div class="col-sm-4">
          <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
       
            <h3> Feedback   </h3>
        </a>
      </div>
        </div>
       <div class="col-sm-8 catas">
          <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
                  Animals  
          </a>
           /  
           <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
      
               Baby Care Centers  
          </a>
           /  
           <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
      
            Beauty Parlour   </a>
            /
           
           <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
      
              Dance   </a>
               / 
               <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
                Driving Schools  
             </a> 
             / 
               
             <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
                 Fights Institutions 
             </a> 
             /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
                Fire Works  
             </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
        
                 Function Halls 
            </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
        
                 Furnitures  
            </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
        
               GYM  
            </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
                Hostels 
            </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
               Indoor Games  
             </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
          
                Marriage Bureaus  
            </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
      
                 Music  Institutions
            </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
                Outdoor Games  
             </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
        
               Plants  
            </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
                 Packers and Movers  
             </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
                 Professional Insitutions  
             </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
        
               Real Estate 
            </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
      
                Restaurants  
            </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
      
         Swimming Pools  
            </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
      
                 Tutions  Centers  
            </a>
          
       </div>
       <div class="col-sm-8 locationcs">
         <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
       </div>
  
       <div class="col-sm-6">
        
        <h3> Keep in touch </h3>
        <div class="col-sm-2">
          <a href="https://www.facebook.com/abhinesh.ghugloth" target="_blank">
      <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
      </a>
  </div>
  
<div class="col-sm-2"> 
<a href="https://twitter.com/yestelanganase1" target="_blank">
<i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
</div>
<div class="col-sm-2"> 
<a href="https://www.instagram.com/yestelanganaservices/" target="_blank">
<i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
</div>

  
        </div>
  <div class="col-sm-8 ">
  <h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
  </div>
      </div>
    </div>
























