<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand yesT"> YES TELANGANA </a>
      </div>
      <ul class="nav navbar-nav pull-right fff">
            <li class="lsc" (click)="viewProfile()"><a  class=""> 
                    <img src="{{fireWorksClients.images2}}" class="img-circle"  style="width:100%">  </a></li>

 
            
          </ul>
       <!-- <ul class="nav navbar-nav pull-right fff">
            <li class="lsc" (click)="viewnoti()"><a  class=""> 
                    <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
</ul> -->
         
<div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
     <div class="col-sm-12">

            <img src="{{fireWorksClients.images2}}" class="img-circle"  style="width:45%">
     </div>
     <div class="col-sm-12">
            <div class="col-sm-12">
                    <h5 class="fnamess">    {{fireWorksClients.name}}</h5>
             </div>
           
             <div class="col-sm-12">
                    <p>   {{fireWorksClients.emailId}}</p>
             </div>
            
     </div>
     <div class="col-sm-12">
             <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
     </div>
    
</div>


<div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
    <div class="col-sm-12">

           <img src="{{fireWorksClients.images2}}" class="img-circle"  style="width:45%">


    </div> 
   
   
</div>  

    </div>
  </nav>




<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 activities">
            <h3 class="acName"> <b> Activities </b></h3>
            <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                  <h4> view   profile </h4>
              </div>
            <div class="col-sm-12 sidenavact" (click)="updatesShow()">
                <h4> Post / View  Updates</h4>
            </div>
            <div class="col-sm-12 sidenavact" (click)="viewupdatesShow()">
                  <h4> Post / View    Serices </h4>
              </div>
              <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                      <h4> Recieve Comments ({{gcommc}})</h4>
                  </div>
                  <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                          <h4> Galleries </h4>
                      </div>
                      
                          
        </div>
      
        <div class="col-sm-8">
         <div class="col-sm-12" *ngIf="showmains">
            <div class="catog">
                <div class="bgshostel">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 bghostels">
                               <h2 class="cnames"> {{fireWorksClients.instName}} </h2>    
                                <div class="col-sm-12 bgimg">
                                    <img src="{{fireWorksClients.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                                  </div>
                       <hr/>
                         </div>
                        </div>
                        </div>
                        </div>
              
                        <!-- *********************about us*********************** -->
                 <div class="bgimgses">
                <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-6 mains">
                  <div class="col-md-12">
              <img src="{{fireWorksClients.images2}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
                
              <hr/>
              </div>
              </div>
              <div class="col-sm-6 mains">
                <div class="col-md-12">
                  <p class="aboutus"> About Us  </p>
                  <p class="aboutuso">  {{fireWorksClients.aboutUseDes1}}</p>
                  <p class="aboutust"> {{fireWorksClients.aboutUseDes2}} </p>
              <hr/>
              <h3 class="aboutusts"> <b> {{fireWorksClients.name}} </b></h3>
              <hr/>
              </div>
              </div>
                  </div>
                </div>
              </div>
            </div> 
               <div class="container-fluid">
                          <div class="row">
                              <div class="col-sm-12">
                                <div class="col-sm-12 timings">
                                    <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
                <ul>
                  <li class="nones"> {{fireWorksClients.day1}} </li>
                  <li class="nones"> {{fireWorksClients.day2}} </li>
                  <li class="nones"> {{fireWorksClients.day3}} </li>
                  <li class="nones"> {{fireWorksClients.day4}} </li>
                  <li class="nones"> {{fireWorksClients.day5}} </li>
                  <li class="nones"> {{fireWorksClients.day6}} </li>
                  <li class="nones"> {{fireWorksClients.day7}} </li>
                  <li class="nones"> Hours of Operations : <span class="timing"> {{fireWorksClients.allTimes}} </span> </li>
                </ul>
                <hr/>
                                </div>
                              
                                  <hr/>
                                  <div class="col-sm-12 e addes">
              
                                      <h4 class="ads"> Address </h4> 
                                      <hr/>
                                      <div class="col-sm-12 cons addresscap">
                                         H No:{{fireWorksClients.houseNo}} , {{fireWorksClients.subArea}},{{fireWorksClients.landmark}},{{fireWorksClients.city}}
                                         {{fireWorksClients.distict}},
                                          {{fireWorksClients.state}},
                                          {{fireWorksClients.pincode}}
                                    </div>
                      
                                  </div>
                               
                                  <div class="col-sm-12 e addes">
                                      <h4 class="ads"> Contact informations </h4> 
                                      <hr/>
                                      <div class="col-sm-12 cons">
                <p>  
                    <span class="glyphicon glyphicon-phone-alt"> office no: {{fireWorksClients.officeNo}} 
                    
                </span>
                 </p>
                                            <br>
                  <p> 
                       <span class="glyphicon glyphicon-earphone">
                             Mobile No: {{fireWorksClients.mobileNo}} 
                      </span></p>
                                              <br>
                          <p> <i class="fa fa-whatsapp" aria-hidden="true">
                               whatsapp No: {{fireWorksClients.whatsupno}} </i></p>
                                                                        <br>
                                         <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{fireWorksClients.emailId}} </i>
                                           
                                          </p> 
                                            <br>
                                            
                                      </div>
                
                                    </div>
                                </div>
         </div>
        </div>
    </div>
         <div class="col-sm-12" *ngIf="updatesShows">
                <div class="col-sm-12">
                        <h2> Post  / View  Updates </h2>
                        <h2> Post    Updates </h2>
                 <mat-form-field class="example-full-width">
                     <input matInput placeholder="please enter your title" [(ngModel)]="ups.title" name="title">
                   </mat-form-field>
                   <mat-form-field class="example-full-width">
                       <input matInput placeholder="please enter your descriptions" [(ngModel)]="ups.description" name="descriptions">
                     </mat-form-field>
                    
   
   <p> Images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputUpdates($event,'images')" [(ngModel)]="ups.images" class="updated" name="images1" >
   <p> Viedeos</p>  <input type="file" #Image accept="viedo/*"  (change)="handleFileInputUpdate($event,'viedoes')" [(ngModel)]="ups.viedoes" class="updated" name="viedoes" >
   
   <button class="btn-primary upbuttons" (click)="postUpdatesForm()"> submit </button>
       
   </div> 
          <!-- ******************* UPDATES PRESENT ********************************* -->
  
  <div class="col-sm-12">
        <div class="col-sm-12"><h3> Our Updates ({{clientUpdatesCount}}) </h3></div>
          <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
            <div class="col-sm-12">
                <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
                  <a> 
                      <img src="{{up.images}}" alt="about us" style="width:100%"></a>
            </div>
      
      
            <div class="col-sm-12 viedoes">
                <video width="100%" height="400px" controls>
                    <source src="{{up.viedoes}}" type="video/mp4">
                   </video>
              </div>
          
              <div class="col-sm-12">
                  <h3> {{up.title}} </h3>
                  <h6> {{up.description}} </h6>
               </div>
      
               <!-- <div class="col-sm-3" (click)="shareClick(up)">
                      <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                        share </p>
                   </div> -->
                  <div class="col-sm-3" (click)="commentsClick(up)">
                      <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                        <span class=""> comments </span> 
                     </p>
              </div>
              <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
                  <div class="col-sm-1">
                      <a href="https://www.facebook.com/" target="_blank">
                  <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                  </a>
              </div>
                  
                    <div class="col-sm-1">
                            <a href="https://www.whatsapp.com/" target="_blank">
                        <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                            </a>
                  </div>
                     <div class="col-sm-1">
                       <a href="https://plus.google.com/discover" target="_blank">
                       <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                     </div>
         <div class="col-sm-1"> 
             <a href="https://twitter.com/login" target="_blank">
               <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
         </div>
       <div class="col-sm-1"> 
          <a href="https://www.instagram.com/accounts/login/" target="_blank">
            <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
         </div>
              </div>
          
            <div class="col-sm-12">
                <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
                    <div class="col-sm-12">
                    <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
                </div>
              </div>
       
        <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
      <div class="col-sm-12" *ngFor="let comms of getUsersComments">
        <div class="col-sm-12 userscomm">
        <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                         <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                          <h6>  {{comms.descriptions}} </h6> 
       </div>                  
                      <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                              <a class="replyses">
                                  <b class="replies lsc"> reply   </b></a>
                          </div> 
                       
      
      
          <div  class="u" *ngIf="replyfrom && replyid == comms._id">
                <mat-form-field class="example-full-width">
                        <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComments.descriptions" name="descriptions" ></textarea>
                      </mat-form-field>
                      <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
                  
            <div class="col-sm-12 replydiv" *ngFor="let rep of replies">
                <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
           <img src="{{fireWorksClients.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
              {{fireWorksClients.name}}:</span>
             <h6> {{rep.descriptions}} </h6> 
             </div> 
             </div> 
      
            </div>
          </div>
      </div>
            </div>
          </div>
           </div>
  
           <div class="col-sm-12" *ngIf="viewupdatesShows">
                <div class="col-sm-12">
                        <h2> Post / View Serices </h2>
                        <h2> Post  Serices One </h2>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter type Of Fire  Works" [(ngModel)]="serOne.typeOfFiewWorks" name="customerName">
                          </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="please enter Fire Works Descriptions" [(ngModel)]="serOne.FiewWorksDescriptions" name="vehicleType">
                          </mat-form-field>
        
                           <hr/>
            <p> FiewWorks Images </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputSeriveOne($event,'FiewWorksImg')" [(ngModel)]="serOne.FiewWorksImg"   class="updated" name="FiewWorksImg" >
            <hr/>
                     
                      <button class="btn-primary upbuttons" (click)="fireworksServicesOne()"> submit </button>
                          
                      </div>

                              <div class="col-sm-12" *ngFor="let get of fireworksServicesOneGets; index as i">
                                  
                                    {{i+1}} . {{get.typeOfFiewWorks}}
                              </div>

                                <div class="col-sm-12" *ngFor="let get of fireworksServicesOneGets">
                                    <div class="col-sm-4 serviceOne" (click)="fireworksServicesOneGetClick(get)">
                                    <h3> {{get.typeOfFiewWorks}} </h3>
                                    <img src="{{get.FiewWorksImg}}" class="img-thumbnail" alt="about us" style="width:100%;height:300px"> 
                                    <p> {{get.FiewWorksDescriptions}} </p>
                                    </div>
                               

                                <div class="col-sm-12" *ngIf="fireWorksSerivesIds == get._id">
                                        <div class="col-sm-12">
                                                 <h2> Post  Serices Two For <span class="tt"> {{fireWorksSerivesName}} </span></h2>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="please enter name Of Fire Works" [(ngModel)]="serTwo.nameOfFireWorks" name="customerName">
                                                  </mat-form-field>
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="please enter fire Works Descriptions" [(ngModel)]="serTwo.fireWorksDescriptions" name="vehicleType">
                                                  </mat-form-field>
                                                  <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="please enter fire Works Price" [(ngModel)]="serTwo.fireWorksPrice" name="vehicleType">
                                                      </mat-form-field>
                                                   <hr/>
                                    <p> fireWorks Images </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputSeriveTwo($event,'fireWorksImg')" [(ngModel)]="serTwo.fireWorksImg"   class="updated" name="FiewWorksImg" >
                                    <hr/>
                                             
                                              <button class="btn-primary upbuttons" (click)="fireworksServicesTwo()"> submit </button>
                                                  
                                              </div>
                                    <div class="col-sm-12" *ngFor="let get of fireworksServicesTwoGets">
                                        <div class="col-sm-6 serviceTwo" (click)="fireworksServicesTwoGetClick(get)">
                                                <h3> {{get.nameOfFireWorks}} </h3>
                                                <img src="{{get.fireWorksImg}}" class="img-thumbnail" alt="about us" style="width:100%;height:300px"> 
                                                <p> {{get.fireWorksDescriptions}} </p>
                                                <h3> {{get.fireWorksPrice}} </h3>
                                        </div>
                                 
                                      
                                <div class="col-sm-12">
                                    <div class="col-sm-12" *ngIf="fireWorksSerivesTwoIds == get._id">
                                            <!-- <div class="col-sm-12">
                                                    <h2> Post  Serices Three For <span class="tt"> {{fireWorksSerivesTwoName}} </span></h2>
                                                   <mat-form-field class="example-full-width">
                                                       <input matInput placeholder="please enter customer Name" [(ngModel)]="serThree.customerName" name="customerName">
                                                     </mat-form-field>
                                                   <mat-form-field class="example-full-width">
                                                       <input matInput placeholder="please enter place" [(ngModel)]="serThree.place" name="vehicleType">
                                                     </mat-form-field>
                                                     <mat-form-field class="example-full-width">
                                                           <input matInput placeholder="please enter items Descriptions" [(ngModel)]="serThree.itemsDescriptions" name="vehicleType">
                                                         </mat-form-field>
                                                      <hr/>
    <p> customers Images </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputSeriveThrees($event,'customersImg')" [(ngModel)]="serThree.customersImg"   class="updated" name="FiewWorksImg" >

  <p> items Images </p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputSeriveThree($event,'itemsImg')" [(ngModel)]="serThree.itemsImg"   class="updated" name="FiewWorksImg" >

                                       <hr/>
                                                
                                                 <button class="btn-primary upbuttons" (click)="fireworksServicesThree()"> submit </button>
                                                     
                                                 </div> -->
<!-- <div class="col-sm-12" *ngFor="let get of fireworksServicesThreeGets">
<div class="col-sm-6">
        <h3> {{get.customerName}} </h3>
        <img src="{{get.customersImg}}" class="img-thumbnail" alt="about us" style="width:100%;height:300px"> 
         <h3> {{get.place}} </h3>
        <img src="{{get.itemsImg}}" class="img-thumbnail" alt="about us" style="width:100%;height:300px"> 
        <p> {{get.itemsDescriptions}} </p>

</div>
</div> -->
</div>
</div>                           </div>
                                </div>
                            </div>
             </div>
  
              <div class="col-sm-12" *ngIf="onlyCommentsShows">
                    <h2> General Comments ({{gcommc}})</h2>
                    <table class="table table-hover">
                        <thead>
                   
                                <tr class="insidecap tablessc">
                                        <th> S No</th>
                                        <th> Name</th>
                                        <th class="standards"> Email Id </th>
                                        <th>Contact No</th>
                                        <th> Comments</th>
                                        <th> Posted on Date </th>
                                        <th> Time </th>
                                       </tr>
                              </thead>
                    <tbody>
                      <tr *ngFor="let s of gcomm; index as i">
                            <td><p> {{i+1}} </p></td>
                         <td><p> {{s.name}}</p></td>
                        <td><p> {{s.email}}</p></td>
                        <td><p> {{s.contactNo}} </p></td>
                        <td> <p> {{s.leaveComment}} </p> </td>
                        <td><p>  {{s.createdAt | date: 'dd/MM/yyyy'}}  </p></td>
                        <td><p> {{s.createdAt  | date: "shortTime"}} </p></td>
                  
                      </tr>
                      
                    </tbody>
                  </table>    
                     </div>
  
         <div class="col-sm-12" *ngIf="ImagesShows">
                <div class="col-sm-12">
                        <h3 class="gimages"> General Images </h3>
                       
          <div class="col-sm-4 mars">
            <a href="{{fireWorksClients.images1}}" target="_blank"> 
                <img src="{{fireWorksClients.images1}}" alt="about us" style="width:100%;height:250px"> 
             </a>
          </div>
          <div class="col-sm-4 mars">
                <a href="{{fireWorksClients.images2}}" target="_blank"> 
                    <img src="{{fireWorksClients.images2}}" alt="about us" style="width:100%;height:250px"> 
                 </a>
             </div>
            <div class="col-sm-4 mars">
                    <a href="{{fireWorksClients.images3}}" target="_blank"> 
                        <img src="{{fireWorksClients.images3}}" alt="about us" style="width:100%;height:250px"> 
                     </a>
                 </div>
                <div class="col-sm-4 mars">
                        <a href="{{fireWorksClients.images4}}" target="_blank"> 
                            <img src="{{fireWorksClients.images4}}" alt="about us" style="width:100%;height:250px"> 
                         </a>
                     </div>
          
                    <div class="col-sm-4 mars">
                            <a href="{{fireWorksClients.images5}}" target="_blank"> 
                                <img src="{{fireWorksClients.images5}}" alt="about us" style="width:100%;height:250px"> 
                             </a>
                         </div>
                         <div class="col-sm-4 mars">
                            <a href="{{fireWorksClients.images6}}" target="_blank"> 
                                <img src="{{fireWorksClients.images6}}" alt="about us" style="width:100%;height:250px"> 
                             </a>
                         </div>
          
                        <div class="col-sm-12">
                                <h1 class="gimages"> Update Images </h1>
                                <div class="col-sm-4 mars" *ngFor="let item of clientUpdates">
                                        <a href="{{item.images}}" target="_blank"> 
                                            <img src="{{item.images}}" alt="about us" style="width:100%;height:250px"> 
                                         </a>
                                     </div>
                
                        </div>
                         <div class="col-sm-12">
                                <h1 class="gimages"> Update Viedoes  </h1>
                                <div class="col-sm-6 mars" *ngFor="let pro of clientUpdates">
                                        <b> {{pro.createdAt | date: 'dd/MM/yyyy'}} {{pro.createdAt  | date: "shortTime"}}  </b> 
                                        <a href="{{pro.viedoes}}" target="_blank"> 
                                                <video width="100%" controls>
                                                        <source src="{{pro.viedoes}}" type="video/mp4">
                                                        
                                                       </video> 
                                            </a>
                                    </div>
                         </div>
                  </div> 
           </div>
  
         
        </div>  
      
   
  