.loc{background-color: lightgreen;}
.locs{background-color: rgb(238, 221, 144);}
.example-form { min-width: 150px;  max-width: 500px; width: 100%;  }
  
  .example-full-width { width: 100%;  }
  .adminforms{  margin: 0 auto; margin-top: 12px; padding: 42px;  }
  .buttonsbotm{ margin-bottom: 12px;  }
  .tops{margin-bottom: 40px; margin-top: 40px;}
    .bnts{ margin-right: 90px; color: #fff; background-color: #337ab7;  border-color: #2e6da4;  width: 171px;  padding: 10px; font-size: 17px; }
   .dropdown-menu{ top:10% !important; left: 15px !important;}