
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1> forget your password</h1>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="email" [(ngModel)]="forgetpasswords.email" name="email">
        </mat-form-field>
        <button (click)="fgetpassword()" class="btn-primary"> Submit </button>
        </form>
    </div>
  </div>
</div>

