 /* ************************nav bar *****************/
 .bg{  padding-bottom: 12px;   background-color: #e8e6e56b;}
    .mars{margin-top:20px}
    .yesT{  margin-top: 18px; font-weight: bold; text-shadow: -1px 4px 3px #968f8e; font-size: 40px;}
        .fff{ width: 60px; /* margin-right: 60px; */  margin-top: 12px;}
            .lsc{cursor: pointer;}
            .profilesv{position: absolute; right: 0; top: 50px;  background-color: beige;  text-align: center; /* margin-right: 42px; */ padding-bottom: 27px;  z-index:99999  }
                .fnamess{ font-size: 11px;font-weight: bolder; }
                .sigbtn{  width: 120px;  padding: 8px; border-radius: 5px;  }
            .activities{box-shadow: -7px 8px 6px 7px; background-color: burlywood; border-radius: 12px;  border-bottom: 12px solid beige;margin-left: 25px;text-align: center }
          .acName{border-bottom: 4px solid gainsboro;  padding-bottom: 12px;}
            .sidenavact{ margin-bottom: 12px; background-color: #a52a2a7a; font-weight: bolder;  margin-top: 12px;color: honeydew;cursor: pointer;}
                .commm{list-style: none}
                .gimages{background-color: blue;  width: 50%;  text-align: center; font-size: 25px;  padding: 12px; border-radius: 5px; color: white;}
                    .imagesfur{width:30%}
     /* ***************************************/
 .activities{box-shadow: -7px 8px 6px 7px; background-color: burlywood; border-radius: 12px; border-bottom: 12px solid beige;margin-left: 25px; }
.acName{border-bottom: 4px solid gainsboro; padding-bottom: 12px;}
.sidenavact{ margin-bottom: 12px; background-color: #a52a2a7a; font-weight: bolder;  margin-top: 12px;color: honeydew;cursor: pointer;}
    .commm{list-style: none}
    .gimages{background-color: blue;  width: 50%; text-align: center; font-size: 25px; padding: 12px;  border-radius: 5px; color: white;}


.activities{box-shadow: -7px 8px 6px 7px;
    background-color: burlywood;
    border-radius: 12px;
    border-bottom: 12px solid beige;margin-left: 25px;
}
.acName{border-bottom: 4px solid gainsboro;
padding-bottom: 12px;}
.sidenavact{ margin-bottom: 12px;
    background-color: #a52a2a7a;
    font-weight: bolder;
    margin-top: 12px;color: honeydew;cursor: pointer;}
    .commm{list-style: none}
    .gimages{background-color: blue;
        width: 50%;
        text-align: center;
        font-size: 25px;
        padding: 12px;
        border-radius: 5px;
        color: white;}
.mainSer{
    color: blue;
    text-align: justify;
    /* text-transform: capitalize; */
    font-size: 18px;
}
.d{text-align: right;}
.mainSers{
    background-color: #2b020205;
    padding-bottom: 40px;
    border-bottom: 2px solid black
}
.dropdown-menu {
    top: 75% !important;
    left: 22px !important;
    text-align: center;
    font-size: 15px;
    background: #846c4ff0;
    cursor: pointer;
    color: white;
}
.locationsdrops{    border-bottom: 2px solid #00000024;
    padding: 7px;}
    .locationsdrops:hover{background-color: #ffca00;color: black}
    .bnts{
        margin-right: 90px;
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        width: 171px;
        padding: 10px;
        font-size: 17px;
        margin-bottom: 25px;
     }

.viewServices{background-color: #80808030;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 5px solid black;}
.headings{background-color: brown;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    padding: 15px;
    color: white;
}
.viewSerHeading{
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    text-transform: capitalize;
    margin-left: 40px;
}
.lsc{cursor: pointer;}
.cnames{background: #ff9e00; border-radius: 5px; text-align: center; font-size: 60px; text-transform: capitalize; color: white; 
    padding: 15px; box-shadow: 35px 28px 10px black;}
  .bghostels{
      color: black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 30px;
      border-radius: 1%;
    }
    .fontsize{font-size: 12px;list-style: none}
    .bgimg{padding-bottom: 30px;margin-top:40px}
    .bgimgses{background-color: rgb(8, 255, 29);margin-bottom: 40px;}
    .nones{list-style: none}
    .ads{
      padding-top: 20px;
      font-size: 25px;
      color: black;
      /* padding-bottom: 20px; */
      font-weight: bolder
    }
    .aboutus{    font-size: 40px;
      margin-top: 25px;
      margin-left: 40px;
      margin-bottom: 30px;
  }
    .aboutuso{
       width: 100%;
       font-weight: bolder;
       text-align: justify
     }
    .aboutust{
    width: 100%;
    text-align: justify}
    .aboutusts{text-align: right;
      text-transform: capitalize;
      font-size: 17px;
      margin-right: 50px;}
      .bnts{    width: 100%;
        padding: 12px;
        border: none;
        text-transform: capitalize;
        font-weight: bolder;
        font-size: 15px;}
        .locationsdrops{ border-bottom: 2px solid #00000024;padding: 7px}
        .locationsdrops:hover{background-color: #ffca00;color: black}
        .aniNames{font-size: 30px;
          text-transform: capitalize;
          background-color: #0000ffbf;
          color: white;
          text-align: center;
          padding: 12px;
          width: 100%;
          margin-bottom: 65px;
          border-radius: 5px;}
          .sidetexts{color:red}
          .timing{color:red}
          .sidetextsna{color: blue;
            font-weight: bold;}
            .textsAdj{text-align:justify;cursor:pointer}
        .dropdown-menu{
          top: 1% !important;
        left: 15px !important;
        text-align: center;
        font-size: 15px;
        background: #846c4fba;
        cursor: pointer;
        color: white;
        text-transform: capitalize;
        }
    .e{
      
      background-image: url(/assets/images/e.png);
      background-color: #cccccc;
      background-repeat: repeat;
      background-position: center;
      padding-bottom: 25px;
      color: antiquewhite;
      margin-bottom: 25px;
    }
    .c{border: 2px solid pink}
    .addimg{
      padding: 15px;
    }
    .addimgs{
      padding: 15px;
      border: 1px solid #0000ff1a;
    }
    .sdsthree{
      padding: 10px;
      border-radius: 5px;
      text-align: center;
    }
    .co{
      background-color: #8080804f;
    }
    .comments{
      
      background-image: url("/assets/images/des.png");
      background-color: #cccccc;
      background-repeat: repeat;
      background-position: center;
      /* margin-bottom: 90px; */
      /* height: 500px; */
    padding-top: 20px;
    margin-top: 60px;
    }
    .vsb{
      padding: 11px;
      border-radius: 6px;
      border: none;
      width: 35%;
      margin-bottom: 50px;
      margin-top: 30px;
    }
    .commens{
      margin-top: 40px;
    
    }
    /* .mat-input-element{
      height: 200px;
      
    } */
    .mat-form-field {
    
      width: 65% !important;
    }
    .profilepic{
      margin:20px;
    }
    .profpag{
      margin-left: 100px
    }
    .mainprog{
      text-align: justify
    }
    .names{color: blue}
    .times{margin-left: 30px}
    .imgadd{font-size: 50px;}
    .shares{font-size: 30px;
      font-weight: 100;
      color: blue;}
    
      /* **************animations**************** */
      .catog{
          position: relative;
          animation-name: catog;
          animation-duration: 1s;
          animation-fill-mode: forwards;
          
      }
      
      @keyframes catog{
          0%{left:-1000px;}
          100%{left:0;}
      }
    /* **************timings**************** */
    .timings{
      position: relative;
      animation-name: catog;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      
    }
    
    @keyframes catog{
      0%{left:-1000px;}
      100%{left:0;}
    }
    /* **************images**************** */
    .images{
      position: relative;
      animation-name: catog;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      
    }
    
    @keyframes catog{
      0%{left:-1000px;}
      100%{left:0;}
    }
    /* **************addes**************** */
    .addes{
      position: relative;
      animation-name: catog;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      
    }
    
    @keyframes catog{
      0%{left:-1000px;}
      100%{left:0;}
    }
    /* **************mains**************** */
    .mains{
      position: relative;
      animation-name: catog;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      
    }
    
    @keyframes catog{
      0%{top:1000px;}
      100%{top:0;}
    }
    /* **************mainss**************** */
    .mainss{
      position: relative;
      animation-name: catog;
      animation-duration: 5s;
      animation-fill-mode: forwards;
      
    }
    
    @keyframes catog{
      0%{right:1000px;}
      100%{right:0;}
    }
    /* ****************tables********** */
    .standards{
      width: 17%;
    }
    .years{width: 11%;}
    .tabinter{
      font-size: 14px;
      background-color: blue;
      padding: 10px;
      border-radius: 5px;
      color: white;
      text-align: center;
    }
    .parts{color:red}
    .fb{    color: blue;
      font-size: 40px;}
      .whatsp{
          color: green;
          font-size: 37px;
      }
      .twiter{color: #00d8ff;
          font-size: 40px;}
      .inst{
          color: #ef6981;
      font-size: 40px;
      }
      .caterers{border-right: 2px solid #00000012;
          border-left: 2px solid #00000017;
          border-bottom: 15px solid #0000006e;}
          .cateres{       background-color: blue;
              border-radius: 5px;
              font-size: 30px;
              text-align: center;
              padding-bottom: 12px;
              padding-top: 2px;
              color: wheat;
          }
              .imgads{    font-size: 40px;
                  color: white;
                  margin-right: 0px;}
                  .tabinter{
                      font-size: 14px;
                      background-color: blue;
                      padding: 10px;
                      border-radius: 5px;
                      color: white;
                      text-align: center;
                  }
                  .l{color: blue;font-weight: 700;}
                  
                  .ps{color: black;font-weight: 100;}
                  .testes{background: #0000000d !important;}
                  .ours{font-weight: bolder}
                  .typeesof{color:red;font-size:12px} 
                  .typeeof{color:blue;font-size:20px}
                  .givesanimalsdes{text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                    margin-top: 30px;
                    margin-bottom: 69px;
                    background-color: beige;}
                    .lisdts{list-style:none ; text-transform: capitalize}
                    .bnty{    margin-bottom: 50px;}
                    .ui{    color: red;
                      font-size: 21px;
                      text-transform: capitalize;
                      font-weight: bold;}
                      /* .borders{border-right: 4px solid;} */
                      .borderss{border-left: 4px solid;}
   /* **************** UPDATES PRESENT ********** */
                  .dfs{
                    border: 1px solid blue;
                    padding: 10px;
                    box-shadow: 10px 4px 14px 20px;
                    margin-top: 50px
                }
                .lsc{cursor: pointer;}
                .viedoes{margin-top: 40px;margin-bottom: 40px;}
                 .h4tagsviews{    background-color: #ea0e0ec7;
                  width:50%;
                  padding: 12px;
                  border-radius: 5px;
                  color: white;
                  text-transform: capitalize;
                  text-align: center;margin-bottom:70px}
                  .replies{background-color: #240eeaca;
                    width: 30%;
                    padding: 12px;
                    border-radius: 5px;
                    color: white;
                    text-transform: capitalize;
                    text-align: center;margin-bottom:70px}
                  .replydiv{background-color: #80808040;text-align: right;
                    margin-bottom: 56px;}
                .replmaindiv{    margin-top: 40px;
                  margin-bottom: 40px;}
                  .replys{    color: blue;
                    font-weight: bold;
                }
                .userscomm{background-color: #5d7d7c5e;
                  margin-top: 20px;
              }
   .lsd{color:blue}
           .fb{    color: blue;
              font-size: 25px;}
              .whatsp{
                  color: green;
                  font-size: 25px
              }
              .twiter{color: #00d8ff;
                  font-size: 25px}
              .inst{
                  color: #ef6981;
                  font-size: 25px
              }
              .sahrevies{margin-top:50px;margin-bottom: 50px}
  .teams{color: #50149a;text-align: justify}
  
              .divb{margin-bottom:20px}
                /* ************************** */
                .viewServices{background-color: #80808030;
                  margin-top: 30px;
                  margin-bottom: 30px;
                  border-bottom: 5px solid black;}
              .headings{background-color: brown;
                  font-size: 25px;
                  text-align: center;
                  text-transform: capitalize;
                  padding: 15px;
                  color: white;
              }
              .viewSerHeading{
                  font-size: 30px;
                  font-weight: bold;
                  margin-top: 40px;
                  margin-bottom: 40px;
                  text-transform: capitalize;
                  margin-left: 40px;
              }
              .lsc{cursor: pointer;}
              .mainSers{
                background-color: #2b020205;
                padding-bottom: 40px;
                border-bottom: 2px solid black
            }
            .d{text-align: right;}
            .f{border: 2px solid #00000038;
              margin-right: 5px;
              margin-left: 10px;text-transform: capitalize;}