<!-- ******************* nav bar ************************** -->

<nav class="navbar navbar-default bg fixed">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand yesT"> YES TELANGANA </a>
    </div>
    <ul class="nav navbar-nav pull-right fff">
          <li class="lsc" (click)="viewProfile()"><a  class=""> 
                  <img src="{{clientGet.images2}}" class="img-circle"  style="width:100%">  </a></li>


          
        </ul>
     <!-- <ul class="nav navbar-nav pull-right fff">
          <li class="lsc" (click)="viewnoti()"><a  class=""> 
                  <img src="assets/images/noti.jpeg"  class="img-circle"  style="width:100%">  </a></li>
</ul> -->
       
<div class="col-sm-3 profilesv"  *ngIf="viewsProfiles">
   <div class="col-sm-12">

          <img src="{{clientGet.images2}}" class="img-circle"  style="width:45%">
   </div>
   <div class="col-sm-12">
          <div class="col-sm-12">
                  <h5 class="fnamess">    {{clientGet.name}}</h5>
           </div>
         
           <div class="col-sm-12">
                  <p>   {{clientGet.emailId}}</p>
           </div>
          
   </div>
   <div class="col-sm-12">
           <a [routerLink]= "['/login/login']" class=""> <button class="sigbtn"> Sign Out </button> </a> 
   </div>
  
</div>


<div class="col-sm-3 profilesv"  *ngIf="viewsNoti">
  <div class="col-sm-12">

         <img src="{{clientGet.images2}}" class="img-circle"  style="width:45%">
 </div> 
  
</div>  

  </div>
</nav>



<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3 activities">
          <h3 class="acName"> <b> Activities </b></h3>
          <div class="col-sm-12 sidenavact" (click)="mainMenuShow()">
                <h4> view   profile </h4>
            </div>
            <div class="col-sm-12 sidenavact" (click)="CreateProperty()">
              <h4> Create / view Property </h4>
          </div>
         
          <div class="col-sm-12 sidenavact" (click)="updatesShow()">
              <h4> Post   Updates</h4>
          </div>
         
            <div class="col-sm-12 sidenavact" (click)="onlyCommentsShow()">
                    <h4> Recieve Comments ({{onlyCommentsC}})</h4>
                </div>
                <div class="col-sm-12 sidenavact" (click)="ImagesShow()">
                        <h4> Galleries </h4>
                    </div>
                    
                      
    
      </div>
    
    
   
    


    <div class="col-sm-8 c">
       <div class="col-sm-12" *ngIf="showmains">
        <div class="catog">
          <div class="bgshostel">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-12 bghostels">
              
                        
                          <h2 class="cnames"> {{clientGet.shopname}} </h2>    
                          <div class="col-sm-12 bgimg">
                              <img src="{{clientGet.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:500px"> 
                          
                          </div>
              
              <h4> over all view </h4>
                
                  <hr/>
                 
                  </div>
                  </div>
                  </div>
                  </div>
      
                  <!-- *********************about us*********************** -->
           <div class="bgimgses">
          <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 mains">
        
                    
        <div class="col-md-12">
        <img src="{{clientGet.images2}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
          
        <hr/>
        </div>
        </div>
        <div class="col-sm-6 mains">
        
            
        <div class="col-md-12">
            <p class="aboutus"> About Us  </p>
            <p class="aboutuso">  {{clientGet.aboutUseDes1}}</p>
            <p class="aboutust"> {{clientGet.aboutUseDes2}} </p>
        <hr/>
        <h3 class="aboutusts"> <b> {{clientGet.name}} </b></h3>
        <hr/>
        </div>
        </div>
            </div>
          </div>
        </div>
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                          <div class="col-sm-12 timings">
                              <p class="bg-primary sdsthree">  <span class="glyphicon glyphicon-time "></span> Timings </p>
          <ul>
            <li class="nones"> {{clientGet.day1}} </li>
            <li class="nones"> {{clientGet.day2}} </li>
            <li class="nones"> {{clientGet.day3}} </li>
            <li class="nones"> {{clientGet.day4}} </li>
            <li class="nones"> {{clientGet.day5}} </li>
            <li class="nones"> {{clientGet.day6}} </li>
            <li class="nones"> {{clientGet.day7}} </li>
            <li class="nones"> Hours of Operations : <span class="timing"> {{clientGet.allTimes}} </span> </li>
          </ul>
          <hr/>
                          </div>
                        
                            <hr/>
                            <div class="col-sm-12 e addes">
        
                                <h4 class="ads"> Address </h4> 
                                <hr/>
                                <div class="col-sm-12 cons addresscap">
                                   H No:{{clientGet.houseNo}} , {{clientGet.subArea}},{{clientGet.landmark}},{{clientGet.city}}
                                   {{clientGet.distict}},
                                    {{clientGet.state}},
                                    {{clientGet.pincode}}
                              </div>
                
                            </div>
                         
                            <div class="col-sm-12 e addes">
                                <h4 class="ads"> Contact informations </h4> 
                                <hr/>
                                <div class="col-sm-12 cons">
          <p>  
              <span class="glyphicon glyphicon-phone-alt"> office no: {{clientGet.officeNo}} 
              
          </span>
           </p>
                                      <br>
            <p> 
                 <span class="glyphicon glyphicon-earphone">
                       Mobile No: {{clientGet.mobileNo}} 
                </span></p>
                                        <br>
                    <p> <i class="fa fa-whatsapp" aria-hidden="true">
                         whatsapp No: {{clientGet.whatsupno}} </i></p>
                                                                  <br>
                                   <p>  <i class="fa fa-envelope" aria-hidden="true">  email id: {{clientGet.emailId}} </i>
                                     
                                    </p> 
                                      <br>
                                      
                                </div>
          
                              </div>
                          </div>
          <div class="col-sm-9 divb">
             <div class="col-sm-12">
               <h2> Our Team Members </h2>
               <img src="{{clientGet.images3}}" style="width:100%;" class="pull-left img-thumbnail profilepic img-responsive">
      
                  </div>
                  <h4><b> Our Team Works : </b><span class="teams"> {{clientGet.ourTeam}} </span></h4>
                  <h4><b> Team Members Names : </b> <span class="teams">    {{clientGet.teamMembersNames}} </span></h4>
                  <h4><b> Team Descriptions : </b> <span class="teams">  {{clientGet.teamDescriptions}} </span></h4>
             </div>
            
              
      
          </div>
        </div>
          <!-- ********************* end main ***************************** pending 1 div -->
</div>      
       </div>


       <div class="col-sm-12" *ngIf="propertyShowPost">
     
<div class="col-sm-12">
  <!-- ****************************************************************create Area *************************************************** -->
  <div class="col-sm-12">
      <h2> Create Area </h2>

      <div class="col-sm-5">
      <mat-form-field class="example-full-width">
              <input matInput placeholder="please enter your client Area" [(ngModel)]="cl.clientArea" name="description">
            </mat-form-field>
             <button class="btn-primary upbuttons" (click)="createAreaPost()"> submit </button>
          </div>
             <div class="col-sm-5">
                  <button type="button" class="btn btn-primary dropdown-toggle bnts insidecap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{cAname}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="locationsdrops insidecap" *ngFor="let get of createAreaGetRes" (click)="clientAreaClick(get)">{{get.clientArea}}</li>
                    </ul> 
                </div>
  </div>
      <!-- **************************************************************************************************************** -->


       <!-- ****************************************************************create real estate type *************************************************** -->
  <div class="col-sm-12">
          <h2> Create real estate type </h2>
  
          <div class="col-sm-5">
          <mat-form-field class="example-full-width">
                  <input matInput placeholder="please enter real estate type" [(ngModel)]="re.realestateType" name="description">
                </mat-form-field>
                <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputRET($event,'images')" placeholder="please enter image" class="updated" name="images" >

                 <button class="btn-primary upbuttons" (click)="createRealesateTypePost()"> submit </button>
              </div>
                 <div class="col-sm-5">
                      <button type="button" class="btn btn-primary dropdown-toggle bnts insidecap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{realEstateTypeName}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="locationsdrops insidecap" *ngFor="let get of createRealesateTypeGetRes" (click)="clientrealEstatetypeClick(get)">{{get.realestateType}}</li>
                        </ul> 
                    </div>
      </div>
          <!-- **************************************************************************************************************** -->
      <!-- ****************************************************************create real estate type business*************************************************** -->
      <div class="col-sm-12">
              <h2> Create real estate type business </h2>
      
              <div class="col-sm-5">
              <mat-form-field class="example-full-width">
                      <input matInput placeholder="please enter real estate type" [(ngModel)]="be.Businesype" name="description">
                    </mat-form-field>
                    <p> images</p>  <input type="file" #Image accept="image/*"  (change)="handleFileInputRETB($event,'images')" placeholder="please enter image" class="updated" name="images" >
  
                     <button class="btn-primary upbuttons" (click)="createRealesateBusinesTypePost()"> submit </button>
                  </div>



                     <div class="col-sm-5">
                          <button type="button" class="btn btn-primary dropdown-toggle bnts insidecap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{getBusinessTypeResName}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="locationsdrops insidecap" *ngFor="let its of getBusinessTypeRes" (click)="getBusinessTypeClick(its)">{{its.Businesype}}</li>
                            </ul> 
                        </div>
          </div>
              <!-- **************************************************************************************************************** -->
<!-- ****************************************************************create real estate type business Room*************************************************** -->
<div class="col-sm-12">
      <h2> Create real estate business Rooms type </h2>

      <div class="col-sm-5">
      <mat-form-field class="example-full-width">
              <input matInput placeholder="please enter real estate business Rooms type" [(ngModel)]="beT.businesTypeRooms" name="description">
            </mat-form-field>

             <button class="btn-primary upbuttons" (click)="createRealesateBusinesRoomTypePost()"> submit </button>
          </div>



          <div class="col-sm-5">
                  <button type="button" class="btn btn-primary dropdown-toggle bnts insidecap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{roomName}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="locationsdrops insidecap" *ngFor="let get of getBusinessRoomTypeRes" (click)="getBusinessRoomTypeClick(get)">{{get.businesTypeRooms}}</li>
                    </ul> 
                </div>
  </div>
 
      <!-- **************************************************************************************************************** -->

</div>
<hr/>

<div class="col-sm-12">
  <h2> Create Property </h2>
    
  <div class="col-sm-6  adform">
      <h4> <b>Basic Property Details </b> </h4>
          <form class="example-form">
               
            
            <!-- ****************************propertyArea******************************** -->
           
            <mat-form-field class="example-full-width">
              <input matInput placeholder="property Area" [(ngModel)]="property.propertyArea" name="propertyArea">
            </mat-form-field>
                        <!-- ****************************property Name******************************** -->

            <mat-form-field class="example-full-width">
              <input matInput placeholder="property Name" [(ngModel)]="property.propertyName" name="propertyName">
            </mat-form-field>

            <!-- ****************************shortDesc******************************** -->

            <mat-form-field class="example-full-width">
              <input matInput placeholder="shortDesc" [(ngModel)]="property.shortDesc" name="shortDesc">
            </mat-form-field>
      <!-- ****************************longDesc******************************** -->

      <mat-form-field class="example-full-width">
        <input matInput placeholder="longDesc" [(ngModel)]="property.longDesc" name="longDesc">
      </mat-form-field>

        <!-- ****************************furnituresDetails******************************** -->

        <mat-form-field class="example-full-width">
          <input matInput placeholder="furnituresDetails" [(ngModel)]="property.furnituresDetails" name="furnituresDetails">
        </mat-form-field>

          <!-- ****************************price******************************** -->

          <mat-form-field class="example-full-width">
            <input matInput placeholder="price" [(ngModel)]="property.price" name="price">
          </mat-form-field>
          
            <!-- ****************************locations******************************** -->

            <mat-form-field class="example-full-width">
              <input matInput placeholder="locations" [(ngModel)]="property.locations" name="locations">
            </mat-form-field>

              <!-- **************************** landmark ******************************** -->

              <mat-form-field class="example-full-width">
                <input matInput placeholder="landmark" [(ngModel)]="property.landmark" name="landmark">
              </mat-form-field>

                <!-- **************************** lat ******************************** -->

            <mat-form-field class="example-full-width">
              <input matInput placeholder="lat" [(ngModel)]="property.lat" name="lat">
            </mat-form-field>


              <!-- **************************** long ******************************** -->

              <mat-form-field class="example-full-width">
                <input matInput placeholder="long" [(ngModel)]="property.long" name="long">
              </mat-form-field>


                <!-- ****************************status******************************** -->

            <mat-form-field class="example-full-width">
              <input matInput placeholder="status" [(ngModel)]="property.status" name="status">
            </mat-form-field>


              <!-- ****************************floor******************************** -->

              <mat-form-field class="example-full-width">
                <input matInput placeholder="floor" [(ngModel)]="property.floor" name="floor">
              </mat-form-field>


                <!-- ****************************verifications******************************** -->

            <mat-form-field class="example-full-width">
              <input matInput placeholder="verifications" [(ngModel)]="property.verifications" name="verifications">
            </mat-form-field>
             <!-- ****************************optionalDescriptions******************************** -->

             <mat-form-field class="example-full-width">
              <input matInput placeholder="optionalDescriptions" [(ngModel)]="property.optionalDescriptions" name="optionalDescriptions">
            </mat-form-field>
            <p> main Image </p>
<input type="file" placeholder="images/*" #Image accept="image/*" class="buttonsbotm" (change)="handleFileInputOne($event,'mainImg')" [(ngModel)]="property.mainImg" name="mainImg">
            <button class="btn-primary upbuttons bunts" (click)="PostsmainPropertyBusinessDetails()"> submit </button>

          </form>
      </div>
      <div class="col-sm-6  adform">
          <h4> <b>Complete Over View Details </b> </h4>
              
          <div class="col-sm-12" *ngFor="let area of realestateTypeArea">
            <h5> <b>   You Selected till now ...</b> </h5>
            <h4> <b> Area : </b> {{area._id.area}} ({{area.count}}) </h4>
          </div>
          <div class="col-sm-12" *ngFor="let area of realestateType">
               <h4> <b> Type Of Business : </b> {{area._id.realestatType}} ({{area.count}}) </h4>
            </div>
            <div class="col-sm-12" *ngFor="let area of realestateTypeBusinessLogic">
                 <h4> <b> Type Of Business Logic : </b> {{area._id.realestatTypeBusinessLogic}} ({{area.count}}) </h4>
              </div>
              <div class="col-sm-12" *ngFor="let area of realestatelr">
                   <h4> <b> Type Of Business Logic Rooms: </b>  {{area._id.realestatTypeBusinessLogicRoom}} ({{area.count}}) </h4>
                </div>
          </div>
        </div>  
     
      <!-- *********************************************************** PROPERTY DETAILS GET ************************************* -->
      <h1> COMPLETE PROPERTY DETAILS</h1>
      <h4> <b>Basic Property Details </b> </h4>
      <div class="col-sm-12 propertydetailsdiv lsc" *ngFor="let bp of basicDetailsViews"  (click)="viewAllDetails(bp)">
        <a [routerLink]="['/admin/adminrealestatefinal',bp._id,bp.propertyName]">

    <div class="col-sm-12 ">
       <h3> {{getBusinessTypeResName}} for {{roomName}}</h3>
       <div class="col-sm-6">
         
          <img src="{{bp.mainImg}}" alt="about us" style="width:100%;">
          
 </div>
 <div class="col-sm-6">
    <h4><b> Property Name : </b> {{bp.propertyName}}</h4>
      <h4><b>  Property Area : </b> {{bp.propertyArea}}</h4>
    <h4> <b> Locations : </b> {{bp.locations}}</h4>
    <h4> <b> Landmark :</b> {{bp.landmark}}</h4>
     <h4> <b> Furnitures Details : </b>  {{bp.furnituresDetails}}</h4>
     <h4> <b> Status : </b> {{bp.status}}</h4>
     <h4><b> Verifications :</b>  {{bp.verifications}}</h4>
 <h5> Content </h5>
    <b class="moredets">Inner View </b>,
    <b class="moredets">Outer View </b>,
    <b class="moredets">Locations Advantages </b>,
    <b class="moredets"> Amenities</b>,
    <b class="moredets"> Overviews </b>,
    <b class="moredet">more details...</b>

<!-- //la long missed -->
</div>

</div>
</a>
</div> 
  </div>  

      <div class="col-sm-12" *ngIf="updatesShows">
          <h1> This is Post Your Updates </h1>
        <div class="col-sm-12 search updateddiv">
                <div class="col-sm-12 upforms">
             <b class="unames"> update form: </b>
     
         <label> Images</label>    <input type="file" #Image accept="image/*"  (change)="handleFileInputRealEstateI($event,'images')" placeholder="please enter image" [(ngModel)]="postupdatedataBabycares.images" class="updated" name="images" >
      
         <label> Viedoes </label>    <input type="file" #Image accept="video/*"  (change)="handleFileInputRealEstate($event,'viedoes')" placeholder="please enter viedoes"  [(ngModel)]="postupdatedataBabycares.viedoes" class="updated" name="viedoes">
    
             <mat-form-field class="example-full-width">
              <input matInput placeholder="please enter your title" [(ngModel)]="postupdatedataBabycares.title" name="title">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="please enter your description" [(ngModel)]="postupdatedataBabycares.description" name="description">
              </mat-form-field>
            <button class="btn-primary upbuttons" (click)="realEstateUpdatePostData()"> submit </button>
           
        </div>

          
  <div class="col-sm-12">
      <div class="col-sm-12"><h3> Our Updates ({{clientUpdatesCount}}) </h3></div>
        <div class="col-sm-12 dfs" *ngFor="let up of clientUpdates">
          <div class="col-sm-12">
              <p> {{up.createdAt | date: 'dd/MM/yyyy'}} <span class="times"> {{up.createdAt  | date: "shortTime"}} </span>  </p>
                <a> 
                    <img src="{{up.images}}" alt="about us" style="width:100%"></a>
          </div>
    
    
          <div class="col-sm-12 viedoes">
              <video width="100%" height="400px" controls>
                  <source src="{{up.viedoes}}" type="video/mp4">
                 </video>
            </div>
        
            <div class="col-sm-12">
                <h3> {{up.title}} </h3>
                <h6> {{up.description}} </h6>
             </div>
    
             <!-- <div class="col-sm-3" (click)="shareClick(up)">
                    <p class="lsc"> <i class="fa fa-share-alt lsd" aria-hidden="true"></i>
                      share </p>
                 </div> -->
                <div class="col-sm-3" (click)="commentsClick(up)">
                    <p class="lsc"> <i class="fa fa-comment-o lsd" aria-hidden="true"></i>
                      <span class=""> comments </span> 
                   </p>
            </div>
            <div class="col-sm-12 sahrevies" *ngIf="share && openshareid == up._id">
                <div class="col-sm-1">
                    <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
                </a>
            </div>
                
                  <div class="col-sm-1">
                          <a href="https://www.whatsapp.com/" target="_blank">
                      <i class="fa fa-whatsapp whatsp lsc" aria-hidden="true"></i>
                                                          </a>
                </div>
                   <div class="col-sm-1">
                     <a href="https://plus.google.com/discover" target="_blank">
                     <i class="fa fa-google-plus fb lsc" aria-hidden="true"></i>  </a>
                   </div>
       <div class="col-sm-1"> 
           <a href="https://twitter.com/login" target="_blank">
             <i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
       </div>
     <div class="col-sm-1"> 
        <a href="https://www.instagram.com/accounts/login/" target="_blank">
          <i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
       </div>
            </div>
        
          <div class="col-sm-12">
              <div class="col-sm-12" *ngIf="comments && commentspostsId == up._id">
                  
                <div class="col-sm-12">
                  <h4 class="h4tagsviews lsc" (click)="viewCommentsClick(up)"> Views  Comments ( {{getUsersCommentsCounts}} ) </h4>
              </div>
            </div>
     
      <div class="col-sm-12" *ngIf="viewcomments && viewcommentsid == up._id">
    <div class="col-sm-12" *ngFor="let comms of getUsersComments">
      <div class="col-sm-12 userscomm">
      <h6> <b> {{comms.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{comms.createdAt  | date: "shortTime"}}   </b> </h6>        
                       <img src="assets/images/gsts.png" alt="about us" class="img-thumbnail" style="width:4%"> 
                        <h6>  {{comms.descriptions}} </h6> 
     </div>                  
                    <div class="col-sm-12 replmaindiv" (click)="replyFromm(comms)">
                            <a class="replyses">
                                <b class="replies lsc"> reply   </b></a>
                        </div> 
                     
    
    
        <div  class="u" *ngIf="replyfrom && replyid == comms._id">
            <mat-form-field class="example-full-width">
                <textarea class="texts" matInput placeholder=" please enter some text"  [(ngModel)]="postComment.descriptions" name="descriptions" ></textarea>
              </mat-form-field>
              <button class="btn-primary" (click)="commentsPoststoClints()"> submit </button>
          <div class="col-sm-12 replydiv" *ngFor="let rep of replies">

              <b>{{rep.createdAt | date: 'dd/MM/yyyy'}} </b>     <b>  {{rep.createdAt  | date: "shortTime"}}   </b>   <br/>  
         <img src="{{clientGet.images2}}" class="img-circle" alt="about us" style="width:4%"><span class="replys">
            {{clientGet.name}}:</span>
           <h6> {{rep.descriptions}} </h6> 
           </div> 
           </div> 
    
          </div>
        </div>
    </div>
          </div>
        </div>
             
                   <!-- **************************************************** -->
  </div>  
    </div>

     

            <div class="col-sm-12" *ngIf="onlyCommentsShows">
                <h1> Recieve Comments ({{onlyCommentsC}}) </h1>
        
                <table class="table">
                        <thead>
                          <tr>
                                <th>S no</th>
                            <th>Date & Time</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact No</th>
                            <th>Leave Comments </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let com of onlyComments; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{com.createdAt | date: 'dd/MM/yyyy'}} {{com.createdAt | date: "shortTime"}}</td>
                            <td> {{com.name}}  </td>
                            <td>{{com.email}}</td>
                            <td>{{com.contactNo}}</td>
                            <td>{{com.leaveComment}}</td>
                          </tr>
                           
                        </tbody>
                      </table>
       </div>

       <div class="col-sm-12" *ngIf="ImagesShows">
          <div class="col-sm-12">
              <h3 class="gimages"> General Images </h3>
             
  <div class="col-sm-4 mars">
  <a href="{{clientGet.images1}}" target="_blank"> 
      <img src="{{clientGet.images1}}" class="img-thumbnail" alt="about us" style="width:100%;height:250px"> 
   </a>
  </div>
  <div class="col-sm-4 mars">
      <a href="{{clientGet.images2}}" target="_blank"> 
          <img src="{{clientGet.images2}}" class="img-thumbnail" alt="about us" style="width:100%;height:250px"> 
       </a>
   </div>
  <div class="col-sm-4 mars">
          <a href="{{clientGet.images3}}" target="_blank"> 
              <img src="{{clientGet.images3}}" class="img-thumbnail" alt="about us" style="width:100%;height:250px"> 
           </a>
       </div>
       
  
         
  
              <div class="col-sm-12">
                      <h1 class="gimages"> Update Images </h1>
                      <div class="col-sm-4 mars" *ngFor="let item of clientUpdates">
                              <a href="{{item.images}}" target="_blank"> 
                                  <img src="{{item.images}}" class="img-thumbnail" alt="about us" style="width:100%;height:250px"> 
                               </a>
                           </div>
      
              </div>
             
  
  
              <div class="col-sm-12">
                      <h1 class="gimages"> Update Viedoes </h1>
  <div class="col-sm-6" *ngFor="let item of clientUpdates">
           
         <div class="col-sm-12 viedoes">
  
         <video width="100%"  controls>
                 <source src="{{item.viedoes}}" type="video/mp4">
                 
                </video>
               </div>
            </div>
  </div>


  <div class="col-sm-12 propertydetailsdiv lsc" *ngFor="let bp of basicDetailsViews">
    <h3 class="gimages"> Property Details </h3> 
      <a> <img src="{{bp.mainImg}}" alt="about us" style="width:100%;"> </a>
</div> 

 

    </div>
       </div>

         
    </div>
  </div>
</div>



