/* ************navbar**************** */
.bg{
       
    padding-bottom: 12px;
    background-color: #e8e6e56b;}
    .yesT{    margin-top: 18px;
        font-weight: bold;
        text-shadow: -1px 4px 3px #968f8e;
        font-size: 40px;}
        .fff{    width: 60px;
            /* margin-right: 60px; */
            margin-top: 12px;}
            .lsc{cursor: pointer;}
            .profilesv{position: absolute;
                right: 0;
                top: 50px;
                background-color: beige;
                text-align: center;
                /* margin-right: 42px; */
                padding-bottom: 27px;
                z-index:99999
            }
/* *******************navbar end******************8 */

.activities{box-shadow: -7px 8px 6px 7px;
    background-color: burlywood;
    border-radius: 12px;
    border-bottom: 12px solid beige;margin-left: 25px;
}
.acName{border-bottom: 4px solid gainsboro;
padding-bottom: 12px;}
.sidenavact{ margin-bottom: 12px;
    background-color: #a52a2a7a;
    font-weight: bolder;
    margin-top: 12px;color: honeydew;cursor: pointer;}
    .commm{list-style: none}
    .gimages{background-color: blue;
        width: 50%;
        text-align: center;
        font-size: 25px;
        padding: 12px;
        border-radius: 5px;
        color: white;margin-top:50px}


        .bghostels{
            color: black;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 30px;
            border-radius: 1%;
        }
        .fontsize{font-size: 12px;list-style: none}
        .bgimg{padding-bottom: 30px;margin-top:40px}
        .nones{list-style: none}
        .noness{color: red}
        
        .ads{
            padding-top: 20px;
            font-size: 25px;
            color: black;
            /* padding-bottom: 20px; */
            font-weight: bolder
        }
        .e{
            
            background-image: url("/assets/images/e.png");
            background-color: #cccccc;
            background-repeat: repeat;
            background-position: center;
            padding-bottom: 20px;
          color: antiquewhite
        }
        .addimg{
            padding: 15px;
        }
        .addimgs{
            padding: 15px;
            border: 1px solid #0000ff1a;
        }
        .sdsthree{
            padding: 10px;
            border-radius: 5px;
            text-align: center;
        }
         
        .comments{
            
            background-image: url("/assets/images/des.png");
            background-color: #cccccc;
            background-repeat: repeat;
            background-position: center;
            /* margin-bottom: 90px; */
            /* height: 500px; */
          padding-top: 20px;
          margin-top: 60px;
        }
        .vsb{
            padding: 11px;
            border-radius: 6px;
            border: none;
            width: 13%;
            margin-bottom: 50px;
        }
        .commens{
            margin-top: 40px;
        
        }
        .mat-form-field {
          
            width: 65% !important;
        }
        .profilepic{
            margin:20px;
        }
        .profpag{
            margin-left: 100px
        }
        .mainprog{
            text-align: justify
        }
        .names{color: blue}
        .ds{
        
        }
        .times{margin-left: 30px}
        .imgadd{font-size: 50px;}
        .shares{font-size: 30px;
            font-weight: 100;
            color: blue;}
        
            /* **************animations**************** */
            .catog{
                position: relative;
                animation-name: catog;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                
            }
            
            @keyframes catog{
                0%{left:-1000px;}
                100%{left:0;}
            }
         /* **************timings**************** */
         .timings{
            position: relative;
            animation-name: catog;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            
        }
        
        @keyframes catog{
            0%{left:-1000px;}
            100%{left:0;}
        }
        /* **************images**************** */
        .images{
            position: relative;
            animation-name: catog;
            animation-duration: 3s;
            animation-fill-mode: forwards;
            
        }
        
        @keyframes catog{
            0%{left:-1000px;}
            100%{left:0;}
        }
        /* **************addes**************** */
        .addes{
            position: relative;
            animation-name: catog;
            animation-duration: 3s;
            animation-fill-mode: forwards;
            
        }
        
        @keyframes catog{
            0%{left:-1000px;}
            100%{left:0;}
        }
        /* **************mains**************** */
        .mains{
            position: relative;
            animation-name: catog;
            animation-duration: 4s;
            animation-fill-mode: forwards;
            
        }
        
        @keyframes catog{
            0%{top:1000px;}
            100%{top:0;}
        }
        /* **************mainss**************** */
        .mainss{
            position: relative;
            animation-name: catog;
            animation-duration: 5s;
            animation-fill-mode: forwards;
            
        }
        
        @keyframes catog{
            0%{right:1000px;}
            100%{right:0;}
        }
        .cnames{
            background: #ff9e00;
            border-radius: 5px;
            text-align: center;
            font-size: 60px;
            text-transform: capitalize;
            color: white;
            padding: 15px;
            box-shadow: 35px 28px 10px black;
        
            
        }
        
        /* ****************updates************* */
        .dfs{
            border: 1px solid blue;
            padding: 10px;
            box-shadow: 10px 4px 14px 20px;
            margin-top: 50px
        }
        .lsd{color:blue}
        .fb{    color: blue;
            font-size: 25px;}
            .whatsp{
                color: green;
                font-size: 25px
            }
            .twiter{color: #00d8ff;
                font-size: 25px}
            .inst{
                color: #ef6981;
                font-size: 25px
            }
            .proc{position: absolute;
                top: 50%;
                left: 10%;
                 }
                .as{    text-align: center;
                    margin-top: 14px;
                    border: 1px solid;}
                   
                    .replys{color:red}
                    .comentssuboit{margin-top: 40px;}
                    .comentshow{cursor: pointer;}
                    
                    .alldivs{margin-bottom: 12px}
                    .consts{    width: 100%;
                        padding-bottom: 100px;
                    }
                        .u{background-color:rgba(128, 128, 128, 0.267)}
                        .replyses{cursor: pointer;}
                        .viedoes{    margin-top: 40px;
                            margin-bottom: 40px;}
                            /* ********************post update*********** */
                            .updateddiv{ color: black;margin-bottom: 48px;padding-bottom: 50px;}
                            .search{ 
                                padding: 12px;}
                                .upforms{background-color: rgb(150, 3, 3);
                                    padding-top: 20px;
                                    padding-bottom: 20px;
                                    border-radius: 12px;
                                    text-align: center;}
                                    .unames{ color: #e7deea;
                                        font-size: 30px;
                                        text-transform: capitalize;border-bottom:2px solid white}                            
                                        .mars{margin-top:50px}
                                    