 <!-- ******************* nav bar ************************** -->

 <nav class="navbar navbar-default bg fixed">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand yesT">  <img src="assets/images/logo.png"    style="width:25%">    </a>
      </div>
      
         
  <div class="col-sm-3 profilesv">
      <div class="col-sm-12">
             <a [routerLink]= "['/login/login']" class="">  Login  </a> /   <a [routerLink]= "['/login/signup']" class="">  Sign Up  </a> 
     </div>
   </div>
    </div>
  </nav>
<div class="col-sm-8 col-sm-offset-3 adss">
  <h3 class="text-center"> Advertises </h3>
  <div class="col-sm-7">
  <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Company Name" [(ngModel)]="advertises.companyName" required>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="First Name" [(ngModel)]="advertises.firstName" required>
        </mat-form-field>
       
        <mat-form-field>
            <input matInput placeholder="Mobile No" [(ngModel)]="advertises.mobileNo" required>
          </mat-form-field>
   </div>  
    </div>
    <div class="col-sm-3">
        <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="City" [(ngModel)]="advertises.city" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last Name" [(ngModel)]="advertises.lastName" required>
              </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Landline Number" [(ngModel)]="advertises.landLineNo">
              </mat-form-field>
        
         </div>  
          </div>
          <div class="col-sm-12 imps">
              <h6> * denotes mandatory fields </h6>
            </div>
            <div class="col-sm-12">
            <button class="btn-primary vsb" (click)="advertise()"> Submit </button>
          </div>
  </div>
  <div class="col-sm-7 col-sm-offset-3 ">
    <h3 class="text-center"> Feedback </h3>
      <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="please enter City" [(ngModel)]="feedbackpost.city" required>
          </mat-form-field>
       
            <mat-form-field>
                <input matInput placeholder="please enter text" [(ngModel)]="feedbackpost.text" required>
              </mat-form-field>
       </div>  
       <button class="btn-primary vsb" (click)="overallcomment()"> Submit </button>

        </div>
<div class="col-sm-12 footerback">
    <div class="col-sm-8 col-sm-offset-3">
      <div class="col-sm-8">
        <!-- <div class="col-sm-4">
          <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
    
             <h3> About Us </h3>
         </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </div> -->
        <div class="col-sm-4">
         <a [routerLink]= "['/advertise']" routerLinkActive="active-link" class="">
     
          <h3>  Advertises  </h3>
        </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </div>
      <div class="col-sm-4">
        <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
     
          <h3> Feedback   </h3>
      </a>
    </div>
      </div>
     <div class="col-sm-8 catas">
        <a [routerLink]= "['/animals']" routerLinkActive="active-link" class="homes"> 
                Animals  
        </a>
         /  
         <a [routerLink]= "['/babycare']" routerLinkActive="active-link" class="homes">
    
             Baby Care Centers  
        </a>
         /  
         <a [routerLink]= "['/beautyparlour']" routerLinkActive="active-link" class="homes"> 
    
          Beauty Parlour   </a>
          /
         
         <a [routerLink]= "['/dance']" routerLinkActive="active-link" class="homes"> 
    
            Dance   </a>
             / 
             <a [routerLink]= "['/drivingSchools']" routerLinkActive="active-link" class="homes"> 
              Driving Schools  
           </a> 
           / 
             
           <a [routerLink]= "['/fight']" routerLinkActive="active-link" class="homes"> 
               Fights Institutions 
           </a> 
           /  <a [routerLink]= "['/fireWorks']" routerLinkActive="active-link" class="homes"> 
              Fire Works  
           </a> /  <a [routerLink]= "['/halls']" routerLinkActive="active-link" class="homes"> 
      
               Function Halls 
          </a> /  <a [routerLink]= "['/furnitures']" routerLinkActive="active-link" class="homes"> 
      
               Furnitures  
          </a> / <a [routerLink]= "['/gym']" routerLinkActive="active-link" class="homes"> 
      
             GYM  
          </a> / <a [routerLink]= "['/hostelcatageries']" routerLinkActive="active-link" class="homes">
              Hostels 
          </a> / <a [routerLink]= "['/indoorgames']" routerLinkActive="active-link" class="homes"> 
             Indoor Games  
           </a> /  <a [routerLink]= "['/marriagebureaus']" routerLinkActive="active-link" class="homes"> 
        
              Marriage Bureaus  
          </a> /  <a [routerLink]= "['/music']" routerLinkActive="active-link" class="homes">
    
               Music  Institutions
          </a> /  <a [routerLink]= "['/outdoorgames']" routerLinkActive="active-link" class="homes"> 
              Outdoor Games  
           </a> /  <a [routerLink]= "['/pa']" routerLinkActive="active-link" class="homes"> 
      
             Plants  
          </a> /  <a [routerLink]= "['/packersMovers']" routerLinkActive="active-link" class="homes"> 
               Packers and Movers  
           </a> /  <a [routerLink]= "['/professionalInstitutionsCatageries']" routerLinkActive="active-link" class="homes"> 
               Professional Insitutions  
           </a> /      <a [routerLink]= "['/realestate']" routerLinkActive="active-link" class="homes">
      
             Real Estate 
          </a> /   <a [routerLink]= "['/restaurants']" routerLinkActive="active-link" class="homes"> 
    
              Restaurants  
          </a> /   <a [routerLink]= "['/swimming']" routerLinkActive="active-link" class="homes"> 
    
       Swimming Pools  
          </a> / <a [routerLink]= "['/tutions']" routerLinkActive="active-link" class="homes">
    
               Tutions  Centers  
          </a>
        
     </div>
     <div class="col-sm-8 locationcs">
       <a class="homes"> warangal </a>/<a class="homes">  karimnagar</a> /<a class="homes">  kammam </a>
     </div>

     <div class="col-sm-6">
      
      <h3> Keep in touch </h3>
      <div class="col-sm-2">
          <a href="https://www.facebook.com/" target="_blank">
      <i class="fa fa-facebook-square fb lsc" aria-hidden="true"></i>
      </a>
  </div>
 
<div class="col-sm-2"> 
<a href="https://twitter.com/login" target="_blank">
<i class="fa fa-twitter twiter lsc" aria-hidden="true"></i>  </a>
</div>
<div class="col-sm-2"> 
<a href="https://www.instagram.com/accounts/login/" target="_blank">
<i class="fa fa-instagram inst lsc" aria-hidden="true"></i></a>
</div>

      </div>
<div class="col-sm-8 ">
<h6>Copyrights @ 2019-20 . All Rights Reserved . <b> Yes Telangan Services  </b> </h6>
</div>
    </div>
  </div>
  